

<main id="primary" class="site-main col-md-12">
    <div id="post-42" class="post-42 page type-page status-publish hentry">
        <div class="entry-content">
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="faq-container">
                <h2 style="color: #1f2b5a;">Frequently Asked Questions</h2>
                <div class="accordion">
                    <div class="accordion-item">
                        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">1-What is PER?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>PER is a deflationary token on IOST that focuses on high liquidity and long-term growth.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">2-Who’s elegible for PER Airdrops?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Anyone that has their PMINE staked is elegible for PER Airdrops.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">3-How much PER is distributed in the Airdrops?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>The PER Airdrop system uses halving, the starting amount of airdropped PER for every week is 175k PER and is halved every 200 days making the airdrop for PMINE holders perpetual.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">4-How can PER be transterred?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>PER can easily be transferred through Tokenpocket.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">5-Where can I buy PER?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>You can acquire PER by depositing IOST in the Perpetual Lobby or by buying it through PowerDeFi’s Uniswap.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">6-What is PER’s transfer fee?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>PER has a built-in 2% transfer fee in every transaction which feeds the entire Perpetual Ecosystem, the distribution of the fee is the following (50% lobby, 25% PER Staking Pool, 25% is burnt).</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">7-Where can I sell PER?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>The easiest way to sell PER is to sell it in PowerDeFi’s Uniswap.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">8-What’s the difference between the IOST Staking Pool and the PER Staking Pool?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>In both pools you stake PER to receive rewards, the difference is that in one pool you’ll get IOST and in the other you’ll get PER.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">9-How long can I stake for?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>The minimum timeframe for staking is 1 month with the maximum being indefinitely.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">10-What’re the penalty fees?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Penalty fees only apply when unstaking in either pool before the specified timeframe has ended.
                                The penalties range from 10% (1 month stakes), up to 80% (indefinite stakes).
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">11-Where do the penalty fees go to?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Penalties fees are distributed in the following way (50% lobby, 25% PER Staking Pool, 25% is burnt).</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">12-How long should I stake for?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>It depends on your personal strategy, the key thing to remember is that the longer you stake the more rewards you’ll receive but the early unstaking penalty will also be higher.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">13-How’s the loan rate calculated?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>The formula used to calculate the loan rate offered is IOST balance of the contract divided by the total PER in circulation.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">14-Do I have to pay the transfer fee when taking a loan or staking?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Yes, the 2% transfer fee applies to every transaction that happens with PER, including taking a loan, paying it back, staking and unstaking.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">15-When do I have to pay the loan?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>When taking a loan you select the timeframe for paying the loan which ranges between 1 month and 1 year, the longer the loan timeframe the higher interest that will have to be paid.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">16-Can I pay just the interest of the loan?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>No, before the loan expires you’ll have to payback the principal + the interest, otherwise the loan will be considered as defaulted.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">17-What happens with the PER from defaulted loans?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>It’s burnt, destroyed, taken out of circulation forever.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>

        </div>
    </div>
</main>