

<main id="primary" class="site-main col-md-12">
    <div id="post-42" class="post-42 page type-page status-publish hentry">
        <div class="entry-content">
            <div class="vc_row-full-width vc_clearfix"></div>

            <div class="vc_row-full-width vc_clearfix"></div>

            <!-- Token sale -->
            
            <div class="vc_row-full-width vc_clearfix"></div>
        </div>
    </div>
</main>