<div class="top-wrapper" id="top">

    <div class="header-wrapper">
        <header class="header header__fixed" id="header">
            <div class="header-main">
                <div class="header-main-container">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <div class="logo">
                                <a href="/" rel="home">
                                    <img src="/images/Powerminer.png" srcset="/images/Powerminer.png 2x"
                                         alt="powermine" title="Powermine warriors get ready!">
                                </a>
                            </div>
                        </div>
                        <div id="main-nav" class="navbar-holder collapse navbar-collapse">
                            <div class="menu-header-menu-container">
                                <ul id="menu-header-menu" class="nav navbar-nav text-center">
                                    <li id="menu-item-134"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-134">
                                        <a href="/per-airdrop-claim" aria-current="page">
                                            <!--                        <img src="/images/isot.png" width="25"/>-->
                                            Per Airdrop Claim
                                        </a>
                                    </li>
                                    <li id="menu-item-133"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-133">
                                        <a href="/pmine-loans" aria-current="page">
                                            <!--                        <img src="/images/isot.png" width="25"/>-->
                                            PMINE LOANS
                                        </a>
                                    </li>

                                    <li id="menu-item-135"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-135">
                                        <a href="https://sonata.asia/accountCreation" aria-current="page" target="_blank">
                                            <!--                        <img src="/images/isot.png" width="25"/>-->
                                            Create IOST Account
                                        </a>
                                    </li>
                                    <!-- <li id="menu-item-137" -->
                                        <!-- class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-137"> -->
                                        <!-- <a href="/#pmine-exchange" aria-current="page">PMINE DEX</a></li> -->
                                    <li id="menu-item-143"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-143">
                                        <a href="/imatch" aria-current="page">IMATCH</a></li>
                                    <li id="menu-item-136"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136">
                                        <a href="/powermine-whitepaper/">WHITEPAPER</a></li>
                                    <li id="menu-item-142"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142">
                                        <a href="https://coinswitch.co/?ref=O86FUWI24E" target="_blank">SWAP-IOST/TRX</a></li>
                                    <li id="menu-item-141"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-141">
                                        <a href="/#bankroll-assets" aria-current="page">
                                            <!--                        <img src="/images/isot.png" width="25"/>-->
                                            DAPPS
                                        </a>
                                    </li>
                                    <li id="menu-item-138"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-138">
                                        <a href="/#pmine-richlist" aria-current="page">STAKING</a>
                                    </li>
                                    <li id="menu-item-139" style="display: none;"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-139">
                                        <a href="/powermine-admin/" aria-current="page">ADMIN</a>
                                    </li>
                                    <li id="menu-item-1399" style="display: none;"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1399">
                                        <a href="/admin-vdc/" aria-current="page">ADMIN for VDC</a>
                                    </li>
                                    <li id="menu-item-140"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-140">
                                        <a href="https://t.me/powermine_club" aria-current="page" target="_blank"><img
                                                    src="/images/telegram-icon.png" width="25"/></a>
                                    </li>
                                    <li id="menu-item-144"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-141">
                                        <a href="https://discord.gg/M8XXzGy" aria-current="page" target="_blank"><img
                                                    src="/images/Discord-logo.png" width="25"/></a>
                                    </li>
									<br style="clear:both">
                                    <li id="menu-item-149"
                                        class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-149">
                                        <a href="/vdc" aria-current="page">
                                            <img src="/images/vdc-logo.png"
                                                 alt="vdc" title="VDC"
                                                 style="width:150px; margin-top:-15px">
                                        </a></li>
                                    <li id="menu-item-148"
                                        class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                        <a href="/iChips" aria-current="page">
                                            <img src="/images/iChips-logo.png"
                                                 alt="iChips" title="ICHIPS!"
                                                 style="width:150px; margin-top:-15px">
                                        </a></li>
									<li id="menu-item-144"
                                        class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                        <a href="/igoose" aria-current="page">
                                            <img src="/images/IgooseV2Transpanoshadow.png"
                                                 alt="igoose" title="IGOOSE!"
                                                 style="width:150px; margin-top:-5px">
                                        </a></li>
                                    <li id="menu-item-145"
                                        class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-145">
                                        <img src="/images/Dice-comingsoon.png" srcset="/images/Dice-comingsoon.png 2x"
                                             alt="powermine" title="Powermine warriors get ready!"
                                             style="width:150px;">
                                    </li>
                                    <li id="menu-item-146"
                                        class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                        <a href="http://powerdefi.io/" target="_blank"><img src="/images/powerdefi.png" srcset="/images/powerdefi.png 2x"
                                                                                            alt="powermine" title="Powermine warriors get ready!"
                                                                                            style="width:200px; margin-top:-15px;"></a>
                                    </li>
                                    
                                </ul>
<!--								<ul id="menu-header-menu" class="nav navbar-nav text-center">-->
<!--                                    &lt;!&ndash;                    <li id="menu-item-135"&ndash;&gt;-->
<!--                                    &lt;!&ndash;                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-42 current_page_item menu-item-135">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                      <a href="/" aria-current="page">Home</a></li>&ndash;&gt;-->
<!--                                    <li id="menu-item-145"-->
<!--                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-145">-->
<!--                                        <img src="/images/Dice-comingsoon.png" srcset="/images/Dice-comingsoon.png 2x"-->
<!--                                             alt="powermine" title="Powermine warriors get ready!"-->
<!--                                             style="width:150px;">-->
<!--                                    </li>-->
<!--                                    <li id="menu-item-146"-->
<!--                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">-->
<!--                                        <a href="http://powerdefi.io/" target="_blank"><img src="/images/powerdefi.png" srcset="/images/powerdefi.png 2x"-->
<!--                                             alt="powermine" title="Powermine warriors get ready!"-->
<!--                                             style="width:200px; margin-top:-15px;"></a>-->
<!--                                    </li>-->
<!--                                </ul>-->

                            </div>
                        </div>
                        <button class="navbar-toggler toggler-right-0" type="button" data-toggle="collapse"
                                data-target="#main-nav" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>

                </div>
            </div>
        </header>
    </div>

    <!--    <svg class="header-separator-svg header-separator-svg__waves_svg_separator" xmlns="http://www.w3.org/2000/svg"-->
    <!--      version="1.0" width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">-->
    <!--      <path-->
    <!--        d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />-->
    <!--    </svg>-->
</div>