<div class="top-wrapper" id="top">

    <div class="header-wrapper">
      <header class="header header__fixed" id="header">
        <div class="header-main">
          <div class="container">
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <div class="logo">
                  <a href="/" rel="home">
                    <img src="/images/Powerminer.png" srcset="/images/Powerminer.png 2x"
                      alt="powermine" title="Powermine warriors get ready!">
                  </a>
                </div>
              </div>
              <div id="main-nav" class="navbar-holder collapse navbar-collapse">
                <div class="menu-header-menu-container">
                  <ul id="menu-header-menu" class="nav navbar-nav">
                    <li id="menu-item-135"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-42 current_page_item menu-item-135">
                      <a href="/" aria-current="page">Powermine Warriors get
                        ready!</a></li>
                    <li id="menu-item-136"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136">
                      <a href="/powermine-whitepaper/">WHITEPAPER</a></li>
                    <li id="menu-item-137"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-137">
                      <a href="#pmine-exchange" aria-current="page">PMINE EXCHANGE</a></li>
                    <li id="menu-item-138"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-138">
                      <a href="#pmine-richlist" aria-current="page">RICHLIST</a>
                    </li>
                    <li id="menu-item-139"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-139">
                      <a href="/powermine-admin/" aria-current="page">ADMIN</a>
                    </li>
                  </ul>
                </div>
              </div>
              <button class="navbar-toggler toggler-right-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>

          </div>
        </div>
      </header>
    </div>

    <svg class="header-separator-svg header-separator-svg__waves_svg_separator" xmlns="http://www.w3.org/2000/svg"
      version="1.0" width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
      <path
        d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
    </svg>
  </div>