

<main id="primary" class="site-main col-md-12">
    <div id="post-42" class="post-42 page type-page status-publish hentry">
        <div class="entry-content">
            <div class="vc_row-full-width vc_clearfix"></div>

            <div class="vc_row-full-width vc_clearfix"></div>

            <!-- Token sale -->
            <div data-vc-full-width="true" data-vc-full-width-init="false" data-rocket-separator="true"
                 data-rocket-separator-type="waves_svg_separator" data-rocket-separator-position="top_bottom_separator"
                 data-rocket-separator-shape-background="#f1f2f4"
                 class="vc_row wpb_row vc_row-fluid vc_custom_1475176295065 vc_row-has-fill page-section page-section__darkest rocket-row-with-separator rocket-row-separator-type-waves_svg_separator">
                <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0" width="1200"
                     fill="#e2e5eb" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none" style="display: none;">
                    <path
                            d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
                </svg> <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0"
                            width="1200" fill="#e2e5eb" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
                    <path
                            d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
                </svg>
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper" id="bankroll-assets">
                            <div id="rocket__section-title-x6e37p55v2" class="section-title-wrapper">
                                <div class="section-title-inner section-title-inner__alt">
                                    <h1 class="section-title section-title__lg" style="color: #ffffff">Ichips SPECIFICS</h1><span
                                            class="section-desc">GET YOUR Ichips
                    TODAY!</span><span class="section-title-dots"><span class="dot1"></span><span
                                                class="dot2"></span><span class="dot3"></span></span>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid bank-roll-assets">
                                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-12"
                                     style="display: flex;align-items: center;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div
                                                    class="rocket_counter rocket_counter-border rocket_counter-color__primary rocket_counter-shape__circle   rocket_counter-size__normal">
                                                <span id="token-value" class="rocket_counter-value"></span>
                                            </div>
                                            <h3 class="rocket_counter-label">Ichips in circulation
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6  vc_col-xs-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper" style="text-align: justify;">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><b>TOKEN DETAILS</b><br />
                                                        Ichips is the easiest way to get direct exposure to Chips (the div token of the
                                                        upcoming Chips platform) without having to play the game for it yourself, and you will have
                                                        direct access to all of our proprietary strategies that we employ to be a massive benefit
                                                        to the entire pool. 100% of the pooled tokens will be used to collectively play Chips on day one
                                                        and 100% of drops will be shared with Ichips holders who have staked their tokens.
                                                        Ichips will also be listed on our uniswap style DEX that is currently under development.<br/><br/>
                                                        Divs are paid in IOST<br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6"></div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div
                                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_dashed vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                        <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span
                                                class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2"></div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-xs-8 text-center">
                                            <div class="vc_btn3-container vc_btn3-inline">
                                                <a class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-has-icon icon-left btn-primary purchiChipLink"
                                                   href="https://powerdefi.io/uniswap" title="Powermine Uniswap" target="_blank">
                                                    <!--                          <i class="btn-icon fas fa-sign-out-alt"></i>-->
                                                    <img src="/images/Powerminer-logo.png" alt="powerminer logo" width="30" />
                                                    Purchase Ichips</a></div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </div>
    </div>
</main>