<main id="primary" class="site-main col-md-12">
    <div id="post-42" class="post-42 page type-page status-publish hentry">
        <div class="entry-content">
            <div class="vc_row-full-width vc_clearfix"></div>

            <div id="iGoose-richlist" data-vc-full-width="true" data-vc-full-width-init="false"
                 data-rocket-separator="true"
                 data-rocket-separator-type="waves_svg_separator" data-rocket-separator-position="top_bottom_separator"
                 data-rocket-separator-shape-background="#f1f2f4"
                 class="vc_row wpb_row vc_row-fluid page-section page-section__dark vc_row-o-content-middle vc_row-flex rocket-row-with-separator rocket-row-separator-type-waves_svg_separator">

                <div class="wpb_column vc_column_container vc_col-sm-12 stake-igoose-section">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div id="rocket__section-title-rdd5lt1odo" class="section-title-wrapper"
                                 style="margin-bottom: 0px;">
                                <div class="section-title-inner section-title-inner__alt">
                                    <span style="color: white;">iGooses are sold out. Please continue to Uniswap to purchase iGoose on <a
                                                href="https://powerdefi.io/" target="_blank">Powerdefi.io</a></span>
                                    <h1 class="section-title section-title__lg" style="color: #ffffff;">STAKE
                                        iGoose</h1>
                                    <div class="row text-center" id="statusStakeMsg">

                                    </div>
                                    <div class="row"
                                         style="width: 50%; margin: auto; color: white; text-shadow: 2px 2px 4px black;">
                                        <p class="col-md-4" id="account-logged-in" style="text-align: center;"></p>
                                        <p class="col-md-4" id="user-staked-balance" style="text-align: center;"></p>
                                        <p class="col-md-4" id="user-iGoose-balance" style="text-align: center;"></p>
                                    </div>
                                    <div class="row">
                                        <input type="number" id="iGooseAmtStake"
                                               style="width: 100px; margin: auto; box-shadow: 2px 2px 4px black; background-color: #ffffffc7; border: 0;">
                                        <br><br>

                                        <div class="exchange-form-row-div_center">
                                            <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                                                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn; margin: auto;">
                                                <a href="javascript:void(0)"
                                                   class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary"
                                                   style="width: 100px;" id="stakeBtn">Stake!</a>
                                                <a href="javascript:void(0)"
                                                   class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-secondary"
                                                   style="width: 100px;" id="unstakeBtn">UnStake!</a>
                                            </div>
                                        </div>
                                        <br>


                                        <p id="staked-msg" style="color: white;"></p>


                                    </div>

                                    <h2 class="section-title section-title__sm" style="color: white;">TOP
                                        STAKEHOLDERS</h2>
                                    <span class="section-title-dots"><span class="dot1"></span><span
                                                class="dot2"></span><span class="dot3"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2"></div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%"
                                       style="width: 100%;background-color: #ffffffa3;">
                                    <thead>
                                    <tr>
                                        <th scope="col" data-label="RANK">RANK</th>
                                        <th scope="col" data-label="ADDRESS">ADDRESS</th>
                                        <th scope="col" data-label=" AMOUNT">AMOUNT</th>
                                        <th scope="col" data-label=" HOLDING">STAKED %</th>
                                    </tr>
                                    </thead>
                                    <tbody id="iGoose-table-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%"
                                       style="width: 100%;background-color: #ffffffa3;">
                                    <thead>
                                    <tr>
                                        <th scope="col" data-label="RANK">RANK</th>
                                        <th scope="col" data-label="ADDRESS">ADDRESS</th>
                                        <th scope="col" data-label=" AMOUNT">AMOUNT</th>
                                        <th scope="col" data-label=" HOLDING">STAKED %</th>
                                    </tr>
                                    </thead>
                                    <tbody id="iGoose-table2-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="vc_row-full-width vc_clearfix"></div>

            <!-- Token sale -->
            <div data-vc-full-width="true" data-vc-full-width-init="false" data-rocket-separator="true"
                 data-rocket-separator-type="waves_svg_separator" data-rocket-separator-position="top_bottom_separator"
                 data-rocket-separator-shape-background="#f1f2f4"
                 class="vc_row wpb_row vc_row-fluid vc_custom_1475176295065 vc_row-has-fill page-section page-section__darkest rocket-row-with-separator rocket-row-separator-type-waves_svg_separator">
                <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0"
                     width="1200" style="display: none;"
                     fill="#e2e5eb" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
                    <path
                            d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z"/>
                </svg>

                <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0"
                     width="1200" fill="#e2e5eb" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
                    <path
                            d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z"/>
                </svg>
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper" id="bankroll-assets">
                            <div id="rocket__section-title-x6e37p55v2" class="section-title-wrapper">
                                <div class="section-title-inner section-title-inner__alt">
                                    <h1 class="section-title section-title__lg" style="color: #ffffff">IGOOSE
                                        SPECIFICS</h1><span
                                            class="section-desc">GET YOUR iGoose
                    TODAY!</span><span class="section-title-dots"><span class="dot1"></span><span
                                                class="dot2"></span><span class="dot3"></span></span>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid bank-roll-assets">
                                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-12"
                                     style="display: flex;align-items: center;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div
                                                    class="rocket_counter rocket_counter-border rocket_counter-color__primary rocket_counter-shape__circle   rocket_counter-size__normal">
                                                <span id="token-value" class="rocket_counter-value"></span>
                                            </div>
                                            <h3 class="rocket_counter-label">iGoose in circulation
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6  vc_col-xs-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper" style="text-align: justify;">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><b>TOKEN DETAILS</b><br/>
                                                        IGOOSE is the easiest way to get direct exposure to GOOSE (the
                                                        div token of the
                                                        upcoming GOOSEBET platform) without having to play the game for
                                                        it yourself, and
                                                        you will have direct access to all of our proprietary strategies
                                                        that we employ to
                                                        be a massive benefit to the entire pool. 100% of the pooled
                                                        tokens will be used to
                                                        collectively play GOOSEBET on day one and 100% of drops will be
                                                        shared with
                                                        IGOOSE holders who have staked their tokens. <br/>
                                                        Specifications<br/>
                                                        -Total Supply of 1,000 IGOOSE (only the tokens in circulation
                                                        will receive
                                                        distributions)<br/>
                                                        -100% of the drops collected from the GOOSE drops will be
                                                        distributed back to
                                                        IGOOSE holders.<br/>
                                                        Phase 1: 1-99 42600 iost each<br/>
                                                        Phase 2: 100-199 42800 iost each<br/>
                                                        Phase 3: 200-299 43000 iost each<br/>
                                                        Phase 4: 300-399 43200 iost each<br/>
                                                        Phase 5: 400-499 43400 iost each<br/>
                                                        Phase 6: 500-599 43600 iost each<br/>
                                                        Phase 7: 600-699 43800 iost each<br/>
                                                        Phase 8: 700-799 44000 iost each<br/>
                                                        Phase 9: 800-899 44200 iost each<br/>
                                                        Phase 10: 900-1000 44400 iost each<br/>
                                                        Token Payment Specs<br/>
                                                        7% Instant airdrop to iGoose already in circulation<br/>
                                                        7% Added to daily divs for Pmine holders<br/>
                                                        7% Mgmt fee<br/>
                                                        Divs are paid in IOST<br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6"></div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div
                                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_dashed vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                        <span class="vc_sep_holder vc_sep_holder_l"><span
                                                    class="vc_sep_line"></span></span><span
                                                class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2"></div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-xs-8 text-center">
                                            <div class="vc_btn3-container vc_btn3-inline">
                                                <a class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-has-icon icon-left btn-primary purchiGooseLink"
                                                   href="/igoose/#igoose-exchange" title="Powermine Telegram">
                                                    <!--                          <i class="btn-icon fas fa-sign-out-alt"></i>-->
                                                    <img src="/images/Powerminer-logo.png" alt="powerminer logo"
                                                         width="30"/>
                                                    Purchase iGoose</a></div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </div>
    </div>
</main>