<main id="primary" class="site-main col-md-12">
    <div id="post-42" class="post-42 page type-page status-publish hentry">
      <div class="entry-content">
        <div id="section-about" class="vc_row wpb_row vc_row-fluid vc_custom_1584223162085 vc_row-has-fill">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-5">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <p><img class="aligncenter size-medium"
                                src="/images/Logo-Clear-Background-298x300.png" alt="pmine" width="298"
                                height="300" />
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-7">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="title-with-icon">
                          <h3>The Powermine Incentive</h3><span
                            class="title-with-icon__icon-el title-with-icon__icon-el__default title-with-icon__icon-el_color_default"></span>
                        </div>
                        <div
                          class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_dashed vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                          <span class="vc_sep_holder vc_sep_holder_l"><span
                              class="vc_sep_line"></span></span><span
                            class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <p>Powermine is a mining club, with the main
                              goal being to powermine DAPPs to earn profit
                              for PMINE holders. By pooling our resources
                              and knowledge and being time efficient,
                              holders can make the most without all the
                              hassle involved.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section-work" data-vc-full-width="true" data-vc-full-width-init="false"
          data-rocket-separator="true" data-rocket-separator-type="waves_svg_separator"
          data-rocket-separator-position="top_bottom_separator" data-rocket-separator-shape-background="#f1f2f4"
          class="vc_row wpb_row vc_row-fluid vc_custom_1475176205752 vc_row-has-fill page-section page-section__darkest rocket-row-with-separator rocket-row-separator-type-waves_svg_separator">
          <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0"
            width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
            <path
              d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
          </svg> <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg"
            version="1.0" width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30"
            preserveAspectRatio="none">
            <path
              d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
          </svg>
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div id="rocket__section-title-4kjsabj4gn" class="section-title-wrapper">
                  <div class="section-title-inner section-title-inner__alt">
                    <h1 class="section-title section-title__lg" style="color: #ffffff">How We Work</h1><span
                      class="section-desc">Our Process to
                      succeed</span><span class="section-title-dots"><span class="dot1"></span><span
                        class="dot2"></span><span class="dot3"></span></span>
                  </div>
                </div>
                <div id="timeline-2bmiw0qnpr" class="timeline row  timeline-layout--horizontal">
                  <div class="timeline-step ">
                    <a href="#" class="item-link timeline-step__non-active item-checkmark__non-active"
                      onclick="event.preventDefault();">
                      <h5 class="timeline__item-title"> Time-Efficiency</h5>
                      <div class="desc-holder">
                        <span class="desc"> Stay up to date in an ever changing
                          industry</span>
                      </div>
                    </a>
                  </div>
                  <div class="timeline-step ">
                    <a href="#" class="item-link timeline-step__non-active item-checkmark__non-active"
                      onclick="event.preventDefault();">
                      <h5 class="timeline__item-title"> Resource-Efficiency</h5>
                      <div class="desc-holder">
                        <span class="desc"> Pooling resources to become more
                          efficient</span>
                      </div>
                    </a>
                  </div>
                  <div class="timeline-step ">
                    <a href="#" class="item-link timeline-step__non-active item-checkmark__non-active"
                      onclick="event.preventDefault();">
                      <h5 class="timeline__item-title"> Diversification Efficiency
                      </h5>
                      <div class="desc-holder">
                        <span class="desc"> having a well researched and
                          diversified portfolio</span>
                      </div>
                    </a>
                  </div>
                  <div class="timeline-step ">
                    <a href="#" class="item-link timeline-step__non-active item-checkmark__non-active"
                      onclick="event.preventDefault();">
                      <h5 class="timeline__item-title"> SUSTAINABILITY</h5>
                      <div class="desc-holder">
                        <span class="desc"> traditional assets in addition to
                          crypto assets</span>
                      </div>
                    </a>
                  </div>
                  <div class="timeline-step ">
                    <a href="#" class="item-link timeline-step__non-active item-checkmark__non-active"
                      onclick="event.preventDefault();">
                      <h5 class="timeline__item-title"> Community Driven</h5>
                      <div class="desc-holder">
                        <span class="desc"> We value our community and view all
                          proposals objectively</span>
                      </div>
                    </a>
                  </div>
                  <div class="timeline-step ">
                    <a href="#" class="item-link timeline-step__non-active item-checkmark__non-active"
                      onclick="event.preventDefault();">
                      <h5 class="timeline__item-title"> VOTING RIGHTS</h5>
                      <div class="desc-holder">
                        <span class="desc"> Important decisions are made by the
                          group via polls</span>
                      </div>
                    </a>
                  </div>
                </div>
                <script>
                  ;
                  (function ($) {
                    "use strict";

                    var timelineSteps = $('#timeline-2bmiw0qnpr .timeline-step').length;
                    var timelineStep = $('.timeline-step');

                    if (timelineSteps == 1) {
                      timelineStep.addClass('col-md-12');
                    } else if (timelineSteps == 2) {
                      timelineStep.addClass('col-md-6');
                    } else if (timelineSteps == 3) {
                      timelineStep.addClass('col-md-4');
                    } else if (timelineSteps == 4) {
                      timelineStep.addClass('col-md-3');
                    } else if (timelineSteps == 6) {
                      timelineStep.addClass('col-md-2');
                    }

                  })(jQuery);
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div id="asset-holdings" data-vc-full-width="true" data-vc-full-width-init="false"
          data-rocket-separator="true" data-rocket-separator-type="waves_svg_separator"
          data-rocket-separator-position="top_bottom_separator" data-rocket-separator-shape-background="#f1f2f4"
          class="vc_row wpb_row vc_row-fluid page-section page-section__dark vc_row-o-content-middle vc_row-flex rocket-row-with-separator rocket-row-separator-type-waves_svg_separator">
          <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0"
            width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
            <path
              d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
          </svg> <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg"
            version="1.0" width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30"
            preserveAspectRatio="none">
            <path
              d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
          </svg>
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div id="rocket__section-title-f1oqop20v2" class="section-title-wrapper">
                  <div class="section-title-inner section-title-inner__alt">
                    <h1 class="section-title section-title__lg">Asset
                      Holdings</h1><span class="section-title-dots"><span class="dot1"></span><span
                        class="dot2"></span><span class="dot3"></span></span>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element  vc_custom_1584298577490">
                  <div class="wpb_wrapper">
                    <table id="PMINE-ASSETS"
                      class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                      <caption> </caption>
                      <thead>
                        <tr>
                          <th scope="col" data-label="Asset">Asset</th>
                          <th scope="col" data-label="Balance">Balance</th>
                          <th scope="col" data-label="Website">Website</th>
                          <th scope="col" data-label=""></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-84"
                              src="/images/fgt.png" alt="fightron" width="30" height="30" />
                            FGT
                          </td>
                          <td data-label="Balance">9,407 TOKENS</td>
                          <td data-label="Website"><a href="https://fightron.io/" target="_blank"
                              rel="noopener noreferrer">fightron.io</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-85"
                              src="/images/topia.png" alt="trontopia" width="30" height="30" />
                            TOPIA</td>
                          <td data-label="Balance">25 DIAMONDS<br />
                            31,455 VOUCHERS<br />
                            22,163 TOPIA</td>
                          <td data-label="Website"><a href="https://www.trontopia.co/" target="_blank"
                              rel="noopener noreferrer">trontopia.co</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-86"
                              src="/images/tronprime.png" alt="tronprime" width="14" height="30" />
                            TRONPRIME</td>
                          <td data-label="Balance">91,000 (LONG TERM HOLD)
                          </td>
                          <td data-label="Website"><a href="https://tronprime.io/" target="_blank"
                              rel="noopener noreferrer">tronprime.io</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-87"
                              src="/images/frag.png" alt="" width="30" height="30" />
                            FRAGTOKEN
                          </td>
                          <td data-label="Balance">BONDS 61,517<br />
                            FRAG 5,894<br />
                            FRAGPOWER 560.1</td>
                          <td data-label="Website"><a href="https://fragtoken.io/" target="_blank"
                              rel="noopener noreferrer">fragtoken.io</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-88"
                              src="/images/icon.png" alt="icx" width="30" height="30" />
                            TAP(ICON)</td>
                          <td data-label="Balance">19,536</td>
                          <td data-label="Website"><a href="https://icon.foundation/?lang=en" target="_blank"
                              rel="noopener noreferrer">icon.foundation</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-88"
                              src="/images/icon.png" alt="icx" width="30" height="30" />
                            ICX(ICON)</td>
                          <td data-label="Balance">85</td>
                          <td data-label="Website"><a href="https://icon.foundation/?lang=en" target="_blank"
                              rel="noopener noreferrer">icon.foundation</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-89"
                              src="/images/Untitled-1.png" alt="ifry" width="30" height="30" />
                            IFRY(LOAN COLLATERAL)</td>
                          <td data-label="Balance">608.791</td>
                          <td data-label="Website"><a href="https://guppys.io/iost.html" target="_blank"
                              rel="noopener noreferrer">guppys.io/iost</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-89"
                              src="/images/Untitled-1.png" alt="ifry" width="30" height="30" />
                            FRY(LOAN COLLATERAL)</td>
                          <td data-label="Balance">265.33</td>
                          <td data-label="Website"><a href="https://guppys.io/tron/#" target="_blank"
                              rel="noopener noreferrer">guppys.io/tron</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-90"
                              src="/images/trx.png" alt="tron" width="30" height="30" /> TRX
                          </td>
                          <td data-label="Balance">1,146,197</td>
                          <td data-label="Website"><a href="https://tron.network/" target="_blank"
                              rel="noopener noreferrer">tron.network</a>
                          </td>
                          <td data-label=""></td>
                        </tr>
                        <tr>
                          <td data-label="Asset"><img class="alignnone size-full wp-image-91"
                              src="/images/iost.png" alt="iost" width="30" height="30" />
                            IOST
                          </td>
                          <td data-label="Balance">565,006</td>
                          <td data-label="Website"><a href="https://iost.io/" target="_blank"
                              rel="noopener noreferrer">iost.io</a></td>
                          <td data-label=""></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div id="rocket__section-title-rdd5lt1odo" class="section-title-wrapper">
                  <div class="section-title-inner section-title-inner__alt">
                    <h1 class="section-title section-title__lg">PMINE RICHLIST</h1><span
                      class="section-desc">TOP
                      HOLDERS</span><span class="section-title-dots"><span class="dot1"></span><span
                        class="dot2"></span><span class="dot3"></span></span>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <table id="PMINE-RICHLIST"
                      class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                      <caption> </caption>
                      <thead>
                        <tr>
                          <th scope="col" data-label="RANK">RANK</th>
                          <th scope="col" data-label="ADDRESS">ADDRESS</th>
                          <th scope="col" data-label=" AMOUNT">AMOUNT</th>
                          <th scope="col" data-label="RANK">RANK</th>
                          <th scope="col" data-label="ADDRESS">ADDRESS</th>
                          <th scope="col" data-label=" AMOUNT">AMOUNT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-label="RANK">1.</td>
                          <td data-label="ADDRESS">ratslayer85</td>
                          <td data-label=" AMOUNT">300</td>
                          <td data-label="RANK">11.</td>
                          <td data-label="ADDRESS">dividendsup</td>
                          <td data-label=" AMOUNT">87</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">2.</td>
                          <td data-label="ADDRESS">miktrone1</td>
                          <td data-label=" AMOUNT">300</td>
                          <td data-label="RANK">12.</td>
                          <td data-label="ADDRESS">mustang29</td>
                          <td data-label=" AMOUNT">75.29</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">3.</td>
                          <td data-label="ADDRESS">jimglen</td>
                          <td data-label=" AMOUNT">300</td>
                          <td data-label="RANK">13.</td>
                          <td data-label="ADDRESS">clove</td>
                          <td data-label=" AMOUNT">63.643</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">4.</td>
                          <td data-label="ADDRESS">EVIEZUR</td>
                          <td data-label=" AMOUNT">188.11</td>
                          <td data-label="RANK">14.</td>
                          <td data-label="ADDRESS">onikatsu</td>
                          <td data-label=" AMOUNT">39</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">5.</td>
                          <td data-label="ADDRESS">nakkirosmo</td>
                          <td data-label=" AMOUNT">167.61</td>
                          <td data-label="RANK">15.</td>
                          <td data-label="ADDRESS">jmntn619</td>
                          <td data-label=" AMOUNT">33</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">6.</td>
                          <td data-label="ADDRESS">safedeposit</td>
                          <td data-label=" AMOUNT">166.3</td>
                          <td data-label="RANK">16.</td>
                          <td data-label="ADDRESS">elontusk</td>
                          <td data-label=" AMOUNT">31.925</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">7.</td>
                          <td data-label="ADDRESS">goldenyogi</td>
                          <td data-label=" AMOUNT">135</td>
                          <td data-label="RANK">17.</td>
                          <td data-label="ADDRESS">harambe</td>
                          <td data-label=" AMOUNT">28</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">8.</td>
                          <td data-label="ADDRESS">ghost3diost</td>
                          <td data-label=" AMOUNT">134</td>
                          <td data-label="RANK">18.</td>
                          <td data-label="ADDRESS">acaalex</td>
                          <td data-label=" AMOUNT">18.5</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">9.</td>
                          <td data-label="ADDRESS">xairgeo</td>
                          <td data-label=" AMOUNT">114</td>
                          <td data-label="RANK">19.</td>
                          <td data-label="ADDRESS">mastodonte2</td>
                          <td data-label=" AMOUNT">16.061</td>
                        </tr>
                        <tr>
                          <td data-label="RANK">10.</td>
                          <td data-label="ADDRESS">manchester1</td>
                          <td data-label=" AMOUNT">102</td>
                          <td data-label="RANK">20.</td>
                          <td data-label="ADDRESS">wexingtn</td>
                          <td data-label=" AMOUNT">12</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-rocket-separator="true"
          data-rocket-separator-type="waves_svg_separator" data-rocket-separator-position="top_bottom_separator"
          data-rocket-separator-shape-background="#f1f2f4"
          class="vc_row wpb_row vc_row-fluid vc_custom_1475176295065 vc_row-has-fill page-section page-section__darkest rocket-row-with-separator rocket-row-separator-type-waves_svg_separator">
          <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0"
            width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
            <path
              d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
          </svg> <svg class="rocket-separator waves_svg_separator" xmlns="http://www.w3.org/2000/svg"
            version="1.0" width="1200" fill="#f7f7f7" height="30" viewBox="0 0 1200 30"
            preserveAspectRatio="none">
            <path
              d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z" />
          </svg>
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div id="rocket__section-title-x6e37p55v2" class="section-title-wrapper">
                  <div class="section-title-inner section-title-inner__alt">
                    <h1 class="section-title section-title__lg" style="color: #ffffff">TOKEN SALE</h1><span
                      class="section-desc">GET YOUR PMINE
                      TODAY!</span><span class="section-title-dots"><span class="dot1"></span><span
                        class="dot2"></span><span class="dot3"></span></span>
                  </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="rocket_counter rocket_counter-border rocket_counter-color__primary rocket_counter-shape__circle   rocket_counter-size__normal">
                          <span class="rocket_counter-value">2310.3290</span>
                        </div>
                        <h3 class="rocket_counter-label">Pmine in circulation
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <p>TOKEN DETAILS<br />
                              Token Specifics: PMINE (IOST)<br />
                              Max supply: 20,000<br />
                              Phase 1: 0-1000 1000 TRX each<br />
                              Phase 2: 1000-2000 1050 TRX each<br />
                              Phase 3 2000-3000 1100 TRX each<br />
                              Phase 4 3000-4000 1200 TRX each<br />
                              For every buy in:<br />
                              -80% of the purchase price goes to the
                              mining pool bankroll.<br />
                              -10% is airdropped to existing holders<br />
                              -10% Management fee</p>
                          </div>
                        </div>
                        <div
                          class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_dashed vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                          <span class="vc_sep_holder vc_sep_holder_l"><span
                              class="vc_sep_line"></span></span><span
                            class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                        </div>
                        <div class="vc_btn3-container vc_btn3-inline"><a
                            class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-has-icon icon-left btn-primary"
                            href="https://t.me/powermine_club" title="Powermine Telegram" target="_blank"><i
                              class="btn-icon fas fa-sign-out-alt"></i>
                            Purchase Pmine</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
      </div>
    </div>
  </main>