<main id="primary" class="site-main col-md-12 text-center">
    <div id="post-121" class="post-121 page type-page status-publish has-post-thumbnail hentry">
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p><img class=" size-large"
                                            src="/images/Powerminer.png"
                                            alt="" width="640" height="179" /></p>
                                    <h2>Introduction</h2>
                                    <p>Powermine is a mining club, with the main goal being to
                                        powermine DAPPs to earn profit for PMINE holders. By pooling
                                        our resources and knowledge and being time efficient,
                                        holders can make the most without all the hassle involved.
                                    </p>
                                    <h2>The DAPP space</h2>
                                    <p>The DAPP space is very young and as such it involves
                                        high-risk and high-reward opportunities. Most newcomers to
                                        this industry feel confused at first and make many mistakes.
                                        The PMINE MGMT team has a lot of experience in this
                                        high-risk environment, which helps in minimizing the costly
                                        mistakes that lesser experienced users are frequently prone
                                        to, while maximizing the profit potential.</p>
                                    <h2>Time-Efficiency</h2>
                                    <p>Constantly being up to date in an ever changing industry like
                                        DAPPs is almost impossible unless you spend a significant
                                        amount of daily time doing the necessary research for it, by
                                        being a member and holder of the PMINE club you get exposure
                                        to earn passive income without having to spend hours of your
                                        time which would be better spent elsewhere. The experienced
                                        team at POWERMINE are able to identify which might be
                                        profitable opportunities and stay away from those which
                                        would likely be a scam or simply a terrible option.<br />
                                        Resource-Efficiency<br />
                                        Another benefit of being a PMINE member is pooling resources
                                        to become more efficient, since most DAPPs have bonuses like
                                        leaderboards which only big wagerers can take advantage of
                                        and get an overall lower cost of acquisition by not having
                                        to spend as much energy/token mined (this example is for
                                        TRON DAPPs).</p>
                                    <h2>Diversification and Research Efficiency</h2>
                                    <p>Pooling resources allows for an even greater diversification,
                                        which overall reduces the risk of singular DAPPs ,
                                        additionally having a well researched and diversified
                                        portfolio gives each member better odds in the long-term.
                                    </p>
                                    <h2>Which DAPPs will be mined?</h2>
                                    <p>We currently mostly choose to mine TRON DAPPs as they have
                                        the most active users, volume and dividends, however we are
                                        open to, and mine others including IOST, ICON, EOS, ETH,
                                        BSV, WAVES, and WAX.</p>
                                    <h2>DROPS</h2>
                                    <p>All drops are converted to IOST and distributed to PMINE
                                        token holders daily. There is no need to stake, just hold
                                        PMINE in your wallet and you will receive drops daily. In
                                        addition to the daily drops you will also receive a separate
                                        airdrop every time anyone acquires PMINE. This is the 10%
                                        instant airdrop to holders, which is distributed out to all
                                        holders proportionate to the percentage of PMINE they hold.
                                    </p>
                                    <h2>SUSTAINABILITY</h2>
                                    <p>We recognize that mining gaming DAPPs although a good source
                                        of short term dividends, these platforms are often short
                                        lived, and once the dividend paying tokens reach certain
                                        levels of dilution they die out. The big miners disappear
                                        and the tokens you end up with are for the most part
                                        worthless, which is why ROI scenarios have to always be
                                        considered before such event can happen or you would end up
                                        in a net loss from mining that DAPP. If played correctly,
                                        and with due diligence, some of these can be very
                                        profitable.<br />
                                        So while gaming DAPPs are a good source of short-term
                                        dividends, there is a need to build the bankroll
                                        diversification from the pool for long-term sustainability
                                        going forward. That’s why we will also focus on having a
                                        diversified portfolio of traditional assets, in addition to
                                        crypto assets. PAXG one example of this, it is tokenized
                                        GOLD, each token is backed by one fine troy ounce of pure
                                        GOLD. Furthermore, this asset can be used as an arbitrage
                                        tool to buy BTC when there are 15-20% downward moves,
                                        increasing the pools overall assets and bankroll as the
                                        purchased asset BTC rises in value over time. Both of these
                                        are good long-term plays that will stand the test of time
                                        and increase in value over time. In addition to PAXG, we
                                        also invest in long term holds that create passive income
                                        such as virtual deposit contracts (VDCs) and other new types
                                        of safer long-term options. A good example of this would be
                                        Tronprime.</p>
                                    <h2>TOKEN DETAILS</h2>
                                    <p>Token Specifics: PMINE (IOST) <img
                                            class="alignnone size-thumbnail"
                                            src="/images/Logo-Clear-Background-150x150.png"
                                            alt="pmine" width="30" height="30" /><br />
                                        Max supply: 20,000<br />
                                        Phase 1: 0-1000 1000 TRX each<br />
                                        Phase 2: 1000-2000 1050 TRX each<br />
                                        Phase 3 2000-3000 1100 TRX each<br />
                                        Phase 4 3000-4000 1200 TRX each<br />
                                        For every buy in:<br />
                                        -80% of the purchase price goes to the mining pool
                                        bankroll.<br />
                                        -10% is airdropped to existing holders<br />
                                        -10% Management fee</p>
                                    <h2>VOTING RIGHTS</h2>
                                    <p>Important decisions are made by the group via polls. You have
                                        to hold at least one PMINE to have your vote count.<br />
                                        Holders of 1-199 PMINE get one vote.<br />
                                        For every 100 additional PMINE you hold, you get an
                                        additional vote, so at 200 you would have 2 votes, at 300 3
                                        votes and so on.</p>
                                    <h2>GOALS</h2>
                                    <p>Our aim is to have a diversified bankroll, a DEX, a DeFi
                                        platform, a FOMO game, and much more…</p>
                                    <h2>CONCLUSION</h2>
                                    <p>Wise asset management, and several years of experience in the
                                        crypto and specifically the DAPP space allow our team to
                                        make good decisions regarding which platforms to pursue, and
                                        which ones to steer clear of. Our community will always be
                                        our top priority here at POWERMINE. We feel that if we help
                                        enough other people to succeed, our own success will surely
                                        follow.<br />
                                        Any specific questions you may have can be directed to our
                                        Telegram chat. Go ahead and come POWERMINE with us!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>