<main id="primary" class="site-main col-md-12 text-center">
    <div id="post-121" class="post-121 page type-page status-publish has-post-thumbnail hentry">
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p><img class=" size-large"
                                            src="/images/Powerminer.png"
                                            alt="" width="640" height="179" /></p>
                                    <h2>Introduction</h2>
                                    <p>Powermine is a community pool, with the main goal being to 
										play DAPPs collectively for the benefit of everyone in the group.
										By pooling our resources and knowledge and being time efficient, 
										we can be a benefit for our members without all the hassle involved.
                                    </p>
                                    <h2>The DAPP space</h2>
                                    <p>The DAPP space is very young and as such it involves high-risk and 
										high-reward opportunities. Most newcomers to this industry feel 
										confused at first and make many mistakes. Our pool has a lot of 
										experience in this high-risk environment, which helps in minimizing 
										the costly mistakes that lesser experienced users are frequently 
										prone to, while maximizing the potential.</p>
                                    <h2>Time-Efficiency</h2>
                                    <p>Constantly being up to date in an ever changing industry like DAPPs 
										is almost impossible unless you spend a significant amount of daily 
										time doing the necessary research for it, by being a member and holder 
										of the PMINE club you get exposure to many DAPP's without having to 
										spend hours of your time which would be better spent elsewhere. Our 
										experienced pool are able to identify which might be great gaming 
										opportunities and stay away from those which would likely be not 
										worthwhile, or simply be a waste of our time and energy.<br />
                                        <h2>Resource-Efficiency</h2><br />
                                        Another benefit of being a PMINE member is pooling together to become 
										more efficient, since most DAPPs have bonuses like leaderboards which 
										only larger whales can take advantage of and get an overall better 
										outcome by not having to spend as much energy/token mined (this example 
										is for TRON DAPPs).</p>
                                    <h2>Diversification and Research Efficiency</h2>
                                    <p>Pooling together allows for an even greater diversification, which overall
										reduces the risk of singular DAPPs , additionally having a well researched
										and diversified game variety gives each member better odds of success in 
										the long-term.
                                    </p>
                                    <h2>Which DAPPs will be mined?</h2>
                                    <p>We currently mostly choose to play TRON DAPPs as they have the most active 
									users, volume and benefits, however we are open to, and play others including 
									IOST, ICON, EOS, ETH, BSV, WAVES, and WAX.</p>
                                    <!--<h2>DROPS</h2>
                                    <p>All drops are converted to IOST and distributed to PMINE
                                        token holders daily. Just stake your PMINE on the exchange 
                                        and you will receive your drops daily. In
                                        addition to the daily drops you will also receive a separate
                                        airdrop every time anyone acquires PMINE. This is the 10%
                                        instant airdrop to holders, which is distributed out to all
                                        holders proportionate to the percentage of PMINE they hold.
                                    </p>-->
                                    <h2>SUSTAINABILITY</h2>
                                    <p>We recognize that playing gaming DAPPs although a good short 
										term benefit , these platforms are often short lived,and once 
										the issued tokens reach certain levels of dilution they die out.
										The big players disappear and the tokens you end up with are for
										the most part worthless, which is why benefit scenarios have to 
										always be considered before such event can happen or you would 
										end up in a loss from playing that DAPP. If played correctly, 
										and with due diligence, some of these can be very satisfying.<br />
                                        So while gaming DAPPs are great short-term, there is a need to 
										build the clubs game selection from the pool for long-term 
										sustainability going forward.  This is the reason why games 
										such as VDC's are a worthwhile endeavor to get involved with.</p>
                                    <h2>TOKEN DETAILS</h2>
                                    <p>Token Specifics: PMINE (IOST) <img
                                            class="alignnone size-thumbnail"
                                            src="/images/Logo-Clear-Background-150x150.png"
                                            alt="pmine" width="30" height="30" /><br />
                                        Max supply: 20,000<br />
										Phase 1: 0-1000 3800 IOST each<br />
										Phase 2: 1000-2000 4100 IOST each<br />
										Phase 3: 2000-3000 4400 IOST each<br />
										Phase 4: 3000-4000 4700 IOST each<br />
										Phase 5: 4000-5000 5000 IOST each<br />
										Phase 6: 5000-6000 5300 IOST each<br />
										Phase 7: 6000-7000 5600 IOST each<br />
										Phase 8: 7000-8000 5900 IOST each<br />
										Phase 9: 8000-9000 6200 IOST each<br />
										Phase 10: 9000-10000 6500 IOST each<br />
										Phase 11: 10000-11000 6800 IOST each<br />
										Phase 12: 11000-12000 7100 IOST each<br />
										Phase 13: 12000-13000 7400 IOST each<br />
										Phase 14: 13000-14000 7700 IOST each<br />
										Phase 15: 14000-15000 8000 IOST each<br />
										Phase 16: 15000-16000 8300 IOST each<br />
										Phase 17: 16000-17000 8600 IOST each<br />
										Phase 18: 17000-18000 8900 IOST each<br />
										Phase 19: 18000-19000 9200 IOST each<br />
										Phase 20: 19000-20000 9500 IOST each<br />
										
                                        For every buy in:<br />
                                        -80% of the purchase price goes to the mining pool
                                        bankroll.<br />
                                        -10% is airdropped to existing holders<br />
                                        -10% Management fee</p>
                                    <h2>VOTING RIGHTS</h2>
                                    <p>All decisions are made by the group via polls. You have
										to hold at least one PMINE to have your vote count.Holders 
										of 1-199 PMINE get one vote. For every 100 additional PMINE
										you hold, you get an additional vote, so at 200 you would 
										have 2 votes, at 300 3 votes and so on.</p>
                                    <h2>GOALS</h2>
                                    <p>Our aim is to have a variety of games, a DEX, a DeFi platform,
										a FOMO game, and much more…</p>
                                    <h2>CONCLUSION</h2>
                                    <p>Detailed expertise and several years of experience in the crypto
										and specifically the DAPP space allow our team to make good 
										decisions regarding which platforms to pursue, and which ones 
										to steer clear of. Our community will always be our top priority
										here at POWERMINE. We feel that if we help enough other people 
										to succeed, our own success will surely follow.<br />
                                        Any specific questions you may have can be directed 
										to our Telegram chat. Go ahead and come POWERMINE with us!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>