<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
</head>

<body
        class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <% include ./partials/header-wrapper %>
    <header
            class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">
        <div class="section-title-inner">
            <div class="container">
                <div class="section-title-decoration">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="section-title section-title__lg">POWERMINE ADMIN</h1>
                        </div>
                        <div class="col-md-12 breadcrumbs-default">
                            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
                                            href="/" itemprop=&quot;item&quot;><span
                                                itemprop="name">Home</span></a></li>
                                <li class="current"><span>POWERMINE ADMIN</span></li>
                            </ol>
                        </div>
                    </div>
                    <span class="section-title-dots">
							<span class="dot1"></span>
							<span class="dot2"></span>
							<span class="dot3"></span>
						</span>
                </div>
            </div>
            <div class="section-title-overlay"></div>
        </div>
    </header>
    <div class="page-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">


                </div>
            </div>
            <div class="row text-center" id="statusMsg">
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>IOST in Pmine Smart Contract : <span id="iostAmtInContract"></span> IOST</h2>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositAmt">Amount (in Pmine)</label>
                                <input type="text" class="form-control" id="depositAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="depositBtn" class="btn btn-primary">Deposit Pmine</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="withdrawAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="withdrawAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="withdrawBtn" class="btn btn-primary">Withdraw IOST</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositIostAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="depositIostAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="depositIostBtn" class="btn btn-primary">Deposit IOST</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositIostAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="divAmount" placeholder="Amount">
                            </div>
                            <button type="button" id="paydividends" class="btn btn-primary">Pay Daily Divs</button>
                        </form>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h2>IOST in iMatch Smart Contract : <span id="iostAmtIniMatchContract"></span> IOST</h2>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositiMatchAmt">Amount (in iMatch)</label>
                                <input type="text" class="form-control" id="depositiMatchAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="depositiMatchBtn" class="btn btn-primary">Deposit iMatch</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="withdrawiMatchAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="withdrawiMatchAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="withdrawiMatchBtn" class="btn btn-primary">Withdraw IOST</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositIostiMatchAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="depositIostiMatchAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="depositIostiMatchBtn" class="btn btn-primary">Deposit IOST</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="divAmountiMatch">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="divAmountiMatch" placeholder="Amount">
                            </div>
                            <button type="button" id="paydividendsiMatch" class="btn btn-primary">Pay Daily Divs</button>
                        </form>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h2>IOST in iGoose Smart Contract : <span id="iostAmtIniGooseContract"></span> IOST</h2>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositiGooseAmt">Amount (in iGoose)</label>
                                <input type="text" class="form-control" id="depositiGooseAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="depositiGooseBtn" class="btn btn-primary">Deposit iGoose</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="withdrawiGooseAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="withdrawiGooseAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="withdrawiGooseBtn" class="btn btn-primary">Withdraw IOST</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="depositIostiGooseAmt">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="depositIostiGooseAmt" placeholder="Amount">
                            </div>
                            <button type="button" id="depositIostiGooseBtn" class="btn btn-primary">Deposit IOST</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="divAmountiGoose">Amount (in IOST)</label>
                                <input type="text" class="form-control" id="divAmountiGoose" placeholder="Amount">
                            </div>
                            <button type="button" id="paydividendsiGoose" class="btn btn-primary">Pay Daily Divs</button>
                        </form>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row text-center">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>Landing Page Content Management</h2>
                    </div>
                </div>
                <div class="row text-center" id="contentStatusMsg">
                </div>
                <textarea name="editor1" id="editor1"></textarea>
                <br/>
                <button type="button" id="saveContentBtn" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>



    <% include ./partials/footer %>
    <script type="text/javascript" src="/javascripts/iost/admin.js"></script>
    <script>
        if(!window.IWalletJS) {
            window.location.href='/';
        } else {
            window.IWalletJS.enable().then(function (val) {
                if(val !== 'powermine')
                    window.location.href='/';
                else if(val === 'powermine') {
                    $("#menu-item-139").show();
                }
            }).catch(error => {
                window.location.href='/';
            })
        }
        CKEDITOR.disableAutoInline = true;
        CKEDITOR.replace( 'editor1' );
        <% if (content) {%>
        var content =  `<%= content.content%>`;
        $("#editor1").html(content)
        // CKEDITOR.instances.editor1.setData(content);
        <% } else {%>

        <% } %>
    </script>
</body>

</html>