<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body
        class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <header id="iChip-exchange" style="padding: 0px"
            class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">
        <% include ./partials/header-wrapper %>
        <div class="section-title-inner">
            <div class="container">
                <div class="section-title-decoration">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/images/ImatchTransparentNoShadow.png">
                        </div>

                    </div>

                </div>
            </div>
            <div class="section-title-overlay"></div>
        </div>
        <div class="row" style="width: 50%; margin: auto; margin-bottom: -50px; color: white; text-shadow: 2px 2px 4px black;">
            <p class="col-md-4" id="exchange-logged-in" style="text-align: center;"></p>
            <p class="col-md-4" id="exchange-iost-balance" style="text-align: center;"></p>
            <p class="col-md-4" id="exchange-iChip-balance" style="text-align: center;"></p>
        </div>
        <div class="iChip-exchange">
            <div class="container-fluid">
                <div class="row exchange-container-div">

                    <div class="col-md-4 col-sm-12 col-xs-12 coin-price-section iChip-timer">
                        <div class="timer">
                            <ul class="text-center">
                                <li class="timer-default timer-unique"><span id="timer_days">0</span>Days</li>
                                <li class="timer-default timer-unique"><span id="timer_hours">0</span>Hours</li>
                                <li class="timer-default timer-unique"><span id="timer_minutes">0</span>Minutes</li>
                                <li class="timer-default timer-unique"><span id="timer_seconds">0</span>Seconds</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="exchange-main box-shadow">

                            <form>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p><i class="fa fa-check"></i> 1 iChip = <span id="iChipPrice"></span> IOST</p>
                                    </div>
                                </div>
                                <h4 class="exchange-main-box-title">Buy iChip</h4>
                                <div class="row text-center" id="statusBuyMsg">
                                </div>
                                <div class="row exchange-form-row">
                                    <div class="col-md-5 col-xs-12 exchange-form-row-div_start">
                                        <div class="iChip-exchange-item exchange-item box-shadow wow fadeIn" data-wow-delay=".2s">
                                            <input type="number" id="pmineAmtBuy">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin2">iChip</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-xs-12 exchange-form-row-div_start">
                                        <div class="iChip-exchange-item exchange-item box-shadow wow fadeIn" data-wow-delay=".3s">
                                            <input type="number" id="iostAmtBuy">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin3">IOST</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-12 exchange-form-row-div_center">
                                        <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                            <a href="javascript:void(0)"
                                               class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary"
                                               id="buyBtn">Buy!</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exchange-protect">
                                        <!-- <img src="/images/protect.png" alt="..."> -->
                                        <p id="iChip-token-msg"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>

        <div class="ticker-wrap">
            <div class="ticker">
                <div class="ticker__item">Letterpress chambray brunch.</div>
                <div class="ticker__item">Vice mlkshk crucifix beard chillwave meditation hoodie asymmetrical Helvetica.</div>
                <div class="ticker__item">Ugh PBR&B kale chips Echo Park.</div>
                <div class="ticker__item">Gluten-free mumblecore chambray mixtape food truck. </div>
            </div>
        </div>
    </header>
    <div class="page-section" style="background: #e2e5eb;">
        <div class="container">
            <div class="row">
                <% include ./partials/ichips %>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>
    <script type="text/javascript" src="/javascripts/iost/ichips-user.js"></script>
</body>

</html>