<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body
        class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <header id="iChip-exchange" style="padding: 0px"
            class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">
        <div class="top-wrapper" id="top">

            <div class="header-wrapper">
                <header class="header header__fixed" id="header">
                    <div class="header-main">
                        <div class="header-main-container">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <div class="logo">
                                        <a href="/iChip" rel="home">
                                            <img src="/images/iChips-logo.png" srcset="/images/iChips-logo.png 2x"
                                                 alt="powermine" title="Powermine warriors get ready!">
                                        </a>
                                    </div>
                                </div>
                                <div id="main-nav" class="navbar-holder collapse navbar-collapse">
                                    <div class="menu-header-menu-container">
                                        <ul id="menu-header-menu" class="nav navbar-nav text-center">
                                            <li id="menu-item-134"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-134">
                                                <a href="/per-airdrop-claim" aria-current="page">
                                                    <!--                        <img src="/images/isot.png" width="25"/>-->
                                                    Per Airdrop Claim
                                                </a>
                                            </li>
                                            <li id="menu-item-135"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-135">
                                                <a href="https://sonata.asia/accountCreation" aria-current="page"
                                                   target="_blank">
                                                    <!--                        <img src="/images/isot.png" width="25"/>-->
                                                    Create IOST Account
                                                </a>
                                            </li>
                                            <!-- <li id="menu-item-137" -->
                                            <!-- class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-137"> -->
                                            <!-- <a href="/#pmine-exchange" aria-current="page">PMINE DEX</a></li> -->
                                            <li id="menu-item-143"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-143">
                                                <a href="/imatch" aria-current="page">IMATCH</a></li>
                                            <li id="menu-item-136"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136">
                                                <a href="/powermine-whitepaper/">WHITEPAPER</a></li>
                                            <li id="menu-item-142"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142">
                                                <a href="https://coinswitch.co/?ref=O86FUWI24E" target="_blank">SWAP-IOST/TRX</a>
                                            </li>
                                            <li id="menu-item-141"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-141">
                                                <a href="/#bankroll-assets" aria-current="page">
                                                    <!--                        <img src="/images/isot.png" width="25"/>-->
                                                    DAPPS
                                                </a>
                                            </li>
                                            <li id="menu-item-138"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-138">
                                                <a href="/#pmine-richlist" aria-current="page">STAKING</a>
                                            </li>
                                            <li id="menu-item-139" style="display: none;"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-139">
                                                <a href="/powermine-admin/" aria-current="page">ADMIN</a>
                                            </li>
                                            <li id="menu-item-140"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-140">
                                                <a href="https://t.me/powermine_club" aria-current="page"
                                                   target="_blank"><img
                                                            src="/images/telegram-icon.png" width="25"/></a>
                                            </li>
                                            <li id="menu-item-144"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-141">
                                                <a href="https://discord.gg/M8XXzGy" aria-current="page"
                                                   target="_blank"><img
                                                            src="/images/Discord-logo.png" width="25"/></a>
                                            </li>
                                            <br style="clear:both">
                                            <li id="menu-item-144"
                                                class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                                <a href="/igoose" aria-current="page">
                                                    <img src="/images/IgooseV2Transpanoshadow.png"
                                                         alt="igoose" title="IGOOSE!"
                                                         style="width:150px; margin-top:-5px">
                                                </a></li>
                                            <li id="menu-item-145"
                                                class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-145">
                                                <img src="/images/Dice-comingsoon.png"
                                                     srcset="/images/Dice-comingsoon.png 2x"
                                                     alt="powermine" title="Powermine warriors get ready!"
                                                     style="width:150px;">
                                            </li>
                                            <li id="menu-item-146"
                                                class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                                <a href="http://powerdefi.io/" target="_blank"><img
                                                            src="/images/powerdefi.png"
                                                            srcset="/images/powerdefi.png 2x"
                                                            alt="powermine" title="Powermine warriors get ready!"
                                                            style="width:200px; margin-top:-15px;"></a>
                                            </li>
                                            <li id="menu-item-147"
                                                class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                                <a href="/" target="_blank"><img src="/images/Powerminer.png"
                                                                                 srcset="/images/Powerminer.png 2x"
                                                                                 alt="powermine"
                                                                                 title="Powermine warriors get ready!"
                                                                                 style="width:200px; margin-top:-15px;"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="navbar-toggler toggler-right-0" type="button" data-toggle="collapse"
                                        data-target="#main-nav" aria-controls="navbarNavDropdown" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>

                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="section-title-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12"></div>
                    <div class="col-md-6 col-sm-12 col-xs-12 coin-price-section iChip-timer">
                        <div class="timer">
                            <ul class="text-center">
                                <li class="timer-default timer-unique"><span id="timer_days">0</span>Days</li>
                                <li class="timer-default timer-unique"><span id="timer_hours">0</span>Hours</li>
                                <li class="timer-default timer-unique"><span id="timer_minutes">0</span>Minutes</li>
                                <li class="timer-default timer-unique"><span id="timer_seconds">0</span>Seconds</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--                <div class="section-title-decoration">-->
                <!--                </div>-->
            </div>
<!--            <div class="section-title-overlay"></div>-->
        </div>
        <div class="row"
             style="width: 50%; margin: auto; padding-top: 200px; color: white; text-shadow: 2px 2px 4px black;">
            <p class="col-md-4" id="exchange-logged-in" style="text-align: center;"></p>
            <p class="col-md-4" id="exchange-iost-balance" style="text-align: center;"></p>
            <p class="col-md-4" id="exchange-iChip-balance" style="text-align: center;"></p>
        </div>
        <div class="iChip-exchange">
            <div class="container">
                <div class="row exchange-container-div">

<!--                    <div class="col-md-3 col-sm-12 col-xs-12">-->
<!--                    </div>-->

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="exchange-main box-shadow">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><i class="fa fa-check"></i> 1 Ichips = <span id="iChipPrice"></span> IOST</p>
                                    </div>
                                </div>
                                <h4 class="exchange-main-box-title">Buy Ichips</h4>
                                <div class="row text-center" id="statusBuyMsg">
                                </div>
                                <div class="row exchange-form-row">
                                    <div class="col-md-5 col-xs-12 exchange-form-row-div_start">
                                        <div class="iChip-exchange-item exchange-item box-shadow wow fadeIn"
                                             data-wow-delay=".2s">
                                            <input type="number" id="pmineAmtBuy">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin2">Ichips</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-xs-12 exchange-form-row-div_start">
                                        <div class="iChip-exchange-item exchange-item box-shadow wow fadeIn"
                                             data-wow-delay=".3s">
                                            <input type="number" id="iostAmtBuy">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin3">IOST</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-12 exchange-form-row-div_center">
                                        <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                            <a href="javascript:void(0)"
                                               class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary"
                                               id="buyBtn">Buy!</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exchange-protect">
                                        <!-- <img src="/images/protect.png" alt="..."> -->
                                        <p id="iChip-token-msg"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>

        <div class="ticker-wrap">
            <div class="ticker">
                <div class="ticker__item">Chips is an online crypto currency casino
                    bringing players a huge variety of games from
                    some of the leading games providers in the
                    industry. Alongside provably fair, low house
                    edge games. A wealth of events and promotions.
                    Combined with a Profit Sharing System to ensure
                    we compete with the current top online casinos.
                    All profits generated from Chips Casino will go
                    into the Chips onsite vault. Every 12 hours the
                    vault will open up and distribute 50% of its total
                    accumulated funds. From that 50%, 50% will go
                    to the Staked CHIPS, The remaining 50% will go
                    to Chips Casino team. Profits are paid in all
                    available currencies in the pool. More indepth
                    tokenomics will be released in the lead up to
                    launch.
                    ICHIPS is the best way to get exposure to the
                    CHIPS casino without having to gamble for it
                    yourself. You won't have to collect from several
                    different currencies and do any withdraws to
                    several different wallets. Simply hold ICHIPS
                    and you will recieve iost drops daily.. 100% of
                    proceeds from the mining of CHIPS will be paid
                    out to holders of ICHIPS tokens. Holding ICHIPS
                    also guarantees that you recieve a disbursal
                    anytime purchases are made of ICHIPS.
                    CHIPS will be a tradable token at some point.
                    The chips team aims to have an onsite
                    marketplace for players to sell and buy CHIPS
                    tokens where trading fees will go into the CHIPS
                    profit-sharing vault - this should be available
                    within 60 days of site launch.
                    CHIPS will be among the most competitive
                    crypto casino's in the industry. With it's 1% house
                    edge, the fairness element for players will be
                    extremely competitive.. CHIPS will have a wide
                    range of game offerings including dice, table
                    games, live games and slots, all ready to go on
                    launch! Soon after launch they will have an in
                    house exchange. 50% of the exchange fees
                    will go to token holders! Ichips is being developed
                    by a very well-known and reputable group of
                    developers and experts in the tron Dapp space.
                    There will be a 100MM CHIPS max supply..  The
                    currencies utilized on launch will be BTC, ETH,
                    TRX, and USDT.. Many more will be added over
                    time. There will be Multi-currency div's..
                    Mining rate will include a gradual increase from
                    $30 on level 1 to $600 for level 100.</div>
            </div>
        </div>
    </header>
    <div class="page-section" style="background: #e2e5eb;">
        <div class="container">
            <div class="row">
                <% include ./partials/ichips %>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>
    <script type="text/javascript" src="/javascripts/iost/ichips-user.js"></script>
</body>

</html>