<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body
        class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <% include ./partials/header-wrapper %>
    <header id="pmine-exchange"
            class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">
        <div class="section-title-inner">
            <div class="container">
                <div class="section-title-decoration">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="section-title section-title__lg" style="color: #ffffff">PMINE EXCHANGE</h1>
                        </div>
                        <div class="col-md-12 breadcrumbs-default">
                            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li><a href="/">Home</a></li>
                            </ol>
                        </div>
                    </div>
                    <span class="section-title-dots">
              <span class="dot1"></span>
              <span class="dot2"></span>
              <span class="dot3"></span>
            </span>
                </div>
            </div>
            <div class="section-title-overlay"></div>
        </div>
        <div class="exchange">
            <div class="container">
                <div class="row exchange-container-div">
                    <div class="col-md-2 coin-price-section">
                        <div class="">
                            <div class="coin-price-section-div">
                                <div>
                                    <div class="exchange-container-tab-container">
                                        <a href="#USD" data-tab-id="USD" id="tab-usd" class="exchange-container-tab-header exchange-container-tab-header-select">USD</a>
                                        <a href="#EUR" data-tab-id="EUR" id="tab-eur" class="exchange-container-tab-header">EUR</a>
                                        <a href="#CNY" data-tab-id="CNY" id="tab-cny" class="exchange-container-tab-header">CNY</a>
                                        <a href="#GBP" data-tab-id="GBP" id="tab-gbp" class="exchange-container-tab-header">GBP</a>
                                    </div>
                                    <div data-tab-id="USD" style="display: block;" class="exchange-container-tab" id="exchange-container-tab-USD">
                                        <a href="#" data-created="0" data-item-id="BTC" data-code-id="USD" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="BTC" src="https://www.cryptocompare.com/media/19633/btc.png?width=16" class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    BTC
                                                </div>
                                                <div style="float: right;">
                                                    <span class="exchange-container-tab-body-coin-body-price" id="usd_btc_price">$7,285.52</span>
                                                    <span class="exchange-container-tab-body-coin-body-change" id="usd_btc_price_change">(0.17%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="ETH" data-code-id="USD" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="ETH" src="https://www.cryptocompare.com/media/20646/eth_logo.png?width=16" class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    ETH
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="169.82613355" class="exchange-container-tab-body-coin-body-price" id="usd_eth_price">$169.83</span>
                                                    <span data-changepct24hour="0.28367117782636353" class="exchange-container-tab-body-coin-body-change" id="usd_eth_price_change">(0.28%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="TRX" data-code-id="USD" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="TRX" src="https://www.cryptocompare.com/media/34477805/trx.jpg?width=16" class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    TRX
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="0.01342778" class="exchange-container-tab-body-coin-body-price" id="usd_trx_price">$0.01343</span>
                                                    <span data-changepct24hour="-1.5012406947890795" class="exchange-container-tab-body-coin-body-change" id="usd_trx_price_change">(-1.50%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="IOST" data-code-id="USD"
                                           class="exchange-container-tab-body-coin exchange-container-tab-body-coin_iost">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="IOST" src="https://www.cryptocompare.com/media/27010459/iost.png?width=16" class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    IOST
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="0.00352485" class="exchange-container-tab-body-coin-body-price" id="usd_iost_price">$0.003525</span>
                                                    <span data-changepct24hour="0" class="exchange-container-tab-body-coin-body-change" id="usd_iost_price_change">(0.00%)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div data-tab-id="EUR" style="display: none;" class="exchange-container-tab" id="exchange-container-tab-EUR">
                                        <a href="#" data-created="0" data-item-id="BTC" data-code-id="EUR" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="BTC"
                                                         src="https://www.cryptocompare.com/media/19633/btc.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    BTC
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="7285.52124576"
                                                          class="exchange-container-tab-body-coin-body-price" id="eur_btc_price">€6,670.22</span>
                                                    <span data-changepct24hour="-0.5001043125801031"
                                                          class="exchange-container-tab-body-coin-body-change" id="eur_btc_price_change">(-0.50%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="ETH" data-code-id="EUR" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="ETH"
                                                         src="https://www.cryptocompare.com/media/20646/eth_logo.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    ETH
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="169.82613355"
                                                          class="exchange-container-tab-body-coin-body-price" id="eur_eth_price">€155.48</span>
                                                    <span data-changepct24hour="-0.39122626988198134"
                                                          class="exchange-container-tab-body-coin-body-change" id="eur_eth_price_change">(-0.39%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="TRX" data-code-id="EUR" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="TRX"
                                                         src="https://www.cryptocompare.com/media/34477805/trx.jpg?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    TRX
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="0.01342778"
                                                          class="exchange-container-tab-body-coin-body-price" id="eur_trx_price">€0.01229</span>
                                                    <span data-changepct24hour="-0.9623095429029697"
                                                          class="exchange-container-tab-body-coin-body-change" id="eur_trx_price_change">(-0.96%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="IOST" data-code-id="EUR"
                                           class="exchange-container-tab-body-coin exchange-container-tab-body-coin_iost">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="IOST"
                                                         src="https://www.cryptocompare.com/media/27010459/iost.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    IOST
                                                </div>
                                                <div style="float: right;">
                                                    <span data-price="0.00352485"
                                                          class="exchange-container-tab-body-coin-body-price" id="eur_iost_price">€0.003227</span>
                                                    <span data-changepct24hour="0"
                                                          class="exchange-container-tab-body-coin-body-change" id="eur_iost_price_change">(0.00%)</span>
                                                </div>
                                            </div>
                                        </a></div>
                                    <div data-tab-id="CNY" style="display: none;" class="exchange-container-tab" id="exchange-container-tab-CNY">
                                        <a href="#" data-created="0" data-item-id="BTC" data-code-id="CNY" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="BTC"
                                                         src="https://www.cryptocompare.com/media/19633/btc.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    BTC
                                                </div>
                                                <div style="float: right;">
                                                  <span data-price="7285.52124576"
                                                        class="exchange-container-tab-body-coin-body-price" id="cny_btc_price">¥53,088.31</span><span
                                                            data-changepct24hour="-5.3834950851311305"
                                                            class="exchange-container-tab-body-coin-body-change" id="cny_btc_price_change">(-5.38%)</span>
                                                </div>
                                            </div>
                                        </a><a href="#" data-created="0" data-item-id="ETH" data-code-id="CNY" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="ETH"
                                                         src="https://www.cryptocompare.com/media/20646/eth_logo.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    ETH
                                                </div>
                                                <div style="float: right;"><span data-price="169.82613355"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="cny_eth_price">¥1,237.49</span><span
                                                            data-changepct24hour="0.12914334911752212"
                                                            class="exchange-container-tab-body-coin-body-change" id="cny_eth_price_change">(0.13%)</span>
                                                </div>
                                            </div>
                                        </a><a href="#" data-created="0" data-item-id="TRX" data-code-id="CNY" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="TRX"
                                                         src="https://www.cryptocompare.com/media/34477805/trx.jpg?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    TRX
                                                </div>
                                                <div style="float: right;"><span data-price="0.01342778"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="cny_trx_price">¥0.09785</span><span
                                                            data-changepct24hour="-1.0695187165775406"
                                                            class="exchange-container-tab-body-coin-body-change" id="cny_trx_price_change">(-1.07%)</span>
                                                </div>
                                            </div>
                                        </a><a href="#" data-created="0" data-item-id="IOST" data-code-id="CNY"
                                               class="exchange-container-tab-body-coin exchange-container-tab-body-coin_iost">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="IOST"
                                                         src="https://www.cryptocompare.com/media/27010459/iost.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    IOST
                                                </div>
                                                <div style="float: right;"><span data-price="0.00352485"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="cny_iost_price">¥0.02568</span><span
                                                            data-changepct24hour="0"
                                                            class="exchange-container-tab-body-coin-body-change" id="cny_iost_price_change">(0.00%)</span>
                                                </div>
                                            </div>
                                        </a></div>
                                    <div data-tab-id="GBP" style="display: none;" class="exchange-container-tab" id="exchange-container-tab-GBP">
                                        <a href="#" data-created="0" data-item-id="BTC" data-code-id="GBP" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="BTC"
                                                         src="https://www.cryptocompare.com/media/19633/btc.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    BTC
                                                </div>
                                                <div style="float: right;"><span data-price="7285.52124576"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="gbp_btc_price">£5,860.23</span><span
                                                            data-changepct24hour="-0.399845834387424"
                                                            class="exchange-container-tab-body-coin-body-change" id="gbp_btc_price_change">(-0.40%)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" data-created="0" data-item-id="ETH" data-code-id="GBP" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="ETH"
                                                         src="https://www.cryptocompare.com/media/20646/eth_logo.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    ETH
                                                </div>
                                                <div style="float: right;"><span data-price="169.82613355"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="gbp_eth_price">£136.60</span><span
                                                            data-changepct24hour="-0.24842905158556436"
                                                            class="exchange-container-tab-body-coin-body-change" id="gbp_eth_price_change">(-0.25%)</span>
                                                </div>
                                            </div>
                                        </a><a href="#" data-created="0" data-item-id="TRX" data-code-id="GBP" class="exchange-container-tab-body-coin">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="TRX"
                                                         src="https://www.cryptocompare.com/media/34477805/trx.jpg?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    TRX
                                                </div>
                                                <div style="float: right;"><span data-price="0.01342778"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="gbp_trx_price">£0.01080</span><span
                                                            data-changepct24hour="-1.5012406947890868"
                                                            class="exchange-container-tab-body-coin-body-change" id="gbp_trx_price_change">(-1.50%)</span>
                                                </div>
                                            </div>
                                        </a><a href="#" data-created="0" data-item-id="IOST" data-code-id="GBP"
                                               class="exchange-container-tab-body-coin exchange-container-tab-body-coin_iost">
                                            <div class="exchange-container-tab-body-coin-body">
                                                <div class="exchange-container-tab-body-coin-body-div">
                                                    <img alt="IOST"
                                                         src="https://www.cryptocompare.com/media/27010459/iost.png?width=16"
                                                         class="exchange-container-tab-body-coin-img">
                                                </div>
                                                <div class="exchange-container-tab-body-coin-body-div" style="position: relative;">
                                                    IOST
                                                </div>
                                                <div style="float: right;"><span data-price="0.00352485"
                                                                                 class="exchange-container-tab-body-coin-body-price" id="gbp_iost_price">£0.002835</span><span
                                                            data-changepct24hour="0"
                                                            class="exchange-container-tab-body-coin-body-change" id="gbp_iost_price_change">(0.00%)</span>
                                                </div>
                                            </div>
                                        </a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="exchange-main box-shadow">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><i class="fa fa-check"></i> 1 Pmine = <span id="pminePrice"></span> IOST</p>
                                    </div>
                                </div>
                                <h4>Buy Pmine</h4>
                                <div class="row text-center" id="statusBuyMsg">
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="exchange-item box-shadow wow fadeIn" data-wow-delay=".2s">
                                            <input type="number" id="pmineAmtBuy">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin2">Pmine</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="exchange-item box-shadow wow fadeIn" data-wow-delay=".3s">
                                            <input type="number" id="iostAmtBuy">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin3">IOST</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                            <a href="javascript:void(0)"
                                               class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary"
                                               id="buyBtn">Buy!</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h4>Sell Pmine</h4>
                                <div class="row text-center" id="statusSellMsg">
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="exchange-item box-shadow wow fadeIn" data-wow-delay=".2s">
                                            <input type="number" id="pmineAmtSell">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin2">Pmine</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="exchange-item box-shadow wow fadeIn" data-wow-delay=".3s">
                                            <input type="number" id="iostAmtSell">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0)">
                                                    <span class="selected-coin3">IOST</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                            <a href="javascript:void(0)"
                                               class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary"
                                               id="sellBtn">Sell!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Buyback price is 60% of the current exchange rate.</p>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exchange-protect">
                                        <!-- <img src="/images/protect.png" alt="..."> -->
                                        <p id="token-msg"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="page-section" style="background: #e2e5eb;">
        <div class="container">
            <div class="row">
                <% include ./partials/index %>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>
    <script type="text/javascript" src="/javascripts/iost/user.js"></script>
</body>

</html>