<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body
        class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <% include ./partials/header-wrapper %>
    <!--    <header id="pmine-exchange" style="padding: 0px"-->
    <!--            class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-12">-->
    <!--                &lt;!&ndash; TradingView Widget BEGIN &ndash;&gt;-->
    <!--                <div class="tradingview-widget-container">-->
    <!--                    <div class="tradingview-widget-container__widget"></div>-->
    <!--                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>-->
    <!--                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>-->
    <!--                        {-->
    <!--                            "symbols": [-->
    <!--                            {-->
    <!--                                "proName": "BINANCE:IOSTUSDT",-->
    <!--                                "title": "IOST/USD"-->
    <!--                            },-->
    <!--                            {-->
    <!--                                "proName": "BITSTAMP:BTCUSD",-->
    <!--                                "title": "BTC/USD"-->
    <!--                            },-->
    <!--                            {-->
    <!--                                "proName": "BITSTAMP:ETHUSD",-->
    <!--                                "title": "ETH/USD"-->
    <!--                            },-->
    <!--                            {-->
    <!--                                "proName": "BINANCE:IOTXUSDT",-->
    <!--                                "title": "IOTX/USD"-->
    <!--                            },-->
    <!--                            {-->
    <!--                                "proName": "BINANCE:TRXUSDT",-->
    <!--                                "title": "TRX/USD"-->
    <!--                            }-->
    <!--                        ],-->
    <!--                            "colorTheme": "dark",-->
    <!--                            "isTransparent": true,-->
    <!--                            "displayMode": "regular",-->
    <!--                            "locale": "en"-->
    <!--                        }-->
    <!--                    </script>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; TradingView Widget END &ndash;&gt;-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="section-title-inner">-->
    <!--            <div class="container">-->
    <!--                <div class="section-title-decoration">-->
    <!--                    <div class="row">-->
    <!--                        <div class="col-md-12">-->
    <!--                            <h1 class="section-title section-title__lg" style="color: #ffffff">STAKE PMINE</h1>-->
    <!--                        </div>-->
    <!--                        <div class="col-md-12 breadcrumbs-default">-->
    <!--                            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">-->
    <!--                                <li><a href="/">Home</a></li>-->
    <!--                            </ol>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <span class="section-title-dots">-->
    <!--                      <span class="dot1"></span>-->
    <!--                      <span class="dot2"></span>-->
    <!--                      <span class="dot3"></span>-->
    <!--                    </span>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="section-title-overlay"></div>-->
    <!--        </div>-->
    <!--        <div class="row" style="width: 50%; margin: auto; margin-top: 50px; margin-bottom: -50px; color: white; text-shadow: 2px 2px 4px black;">-->
    <!--            <p class="col-md-3" id="account-logged-in" style="text-align: center;"></p>-->
    <!--            <p class="col-md-3" id="exchange-iost-balance" style="text-align: center;"></p>-->
    <!--            <p class="col-md-3" id="user-staked-balance" style="text-align: center;"></p>-->
    <!--            <p class="col-md-3" id="user-pmine-balance" style="text-align: center;"></p>-->
    <!--        </div>-->
    <!--        <div class="exchange">-->
    <!--            <div class="container">-->
    <!--                <div class="row exchange-container-div">-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </header>-->
    <div class="page-section pmine-page-section" style="background: #e2e5eb;">

        <div class="vc_col-sm-12 ticker-row">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener"
                                                             target="_blank"><span class="blue-text">Ticker Tape</span></a>
                    by TradingView
                </div>
                <script type="text/javascript"
                        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                    {
                        "symbols"
                    :
                        [
                            {
                                "proName": "BINANCE:IOSTUSDT",
                                "title": "IOST/USD"
                            },
                            {
                                "proName": "BITSTAMP:BTCUSD",
                                "title": "BTC/USD"
                            },
                            {
                                "proName": "BITSTAMP:ETHUSD",
                                "title": "ETH/USD"
                            },
                            {
                                "proName": "BINANCE:IOTXUSDT",
                                "title": "IOTX/USD"
                            },
                            {
                                "proName": "BINANCE:TRXUSDT",
                                "title": "TRX/USD"
                            }
                        ],
                            "colorTheme"
                    :
                        "dark",
                            "isTransparent"
                    :
                        true,
                            "displayMode"
                    :
                        "regular",
                            "locale"
                    :
                        "en"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>

        <div class="container">
            <div class="row">
                <% include ./partials/index %>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>
    <script type="text/javascript" src="/javascripts/iost/user.js"></script>
</body>

</html>