<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
</head>

<body
  class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
  <div class="page-loader">
    <div class="loader-inner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
  <div class="page-wrapper">
    <% include ./partials/header-wrapper %>
    <header id="pmine-exchange"
      class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">
      <div class="section-title-inner">
        <div class="container">
          <div class="section-title-decoration">
            <div class="row">
              <div class="col-md-12">
                <h1 class="section-title section-title__lg">PMINE EXCHANGE</h1>
              </div>
              <div class="col-md-12 breadcrumbs-default">
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                  <li><a href="/">Home</a></li>
                </ol>
              </div>
            </div>
            <span class="section-title-dots">
              <span class="dot1"></span>
              <span class="dot2"></span>
              <span class="dot3"></span>
            </span>
          </div>
        </div>
        <div class="section-title-overlay"></div>
      </div>
      <div class="exchange">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- <ul>
                <li><img src="/images/bitcoin.png" alt="..."> CRYPTOCURRENCIES</li>
                <li><img src="/images/forex.png" alt="..."> FOREX</li>
                <li><img src="/images/stocks.png" alt="..."> STOCKS</li>
                <li><img src="/images/chart.png" alt="..."> CFDS</li>
              </ul> -->
              <div class="exchange-main box-shadow">
                <form action="#!">
                  <div class="row">
                    <div class="col-md-5">
                      <p><i class="fa fa-check"></i> Instant deal execution</p>
                      <div class="exchange-item box-shadow wow fadeIn" data-wow-delay=".2s">
                        <input type="text" placeholder="1">
                        <div class="dropdown">
                          <a class="dropdown-toggle" href="javascript:void;">
                            <span class="selected-coin2">Pmine</span>
                          </a>
                          <!-- <div class="dropdown-menu dropdown-menu-coin2" aria-labelledby="dropdowncoin2">
                            <a class="dropdown-item" href="#!">BTC</a>
                            <a class="dropdown-item" href="#!">ETH</a>
                            <a class="dropdown-item" href="#!">LCT</a>
                            <a class="dropdown-item" href="#!">DOC</a>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="exchange-item box-shadow wow fadeIn margin-top-102" data-wow-delay=".3s">
                        <input type="text" placeholder="10.506205000000000995">
                        <div class="dropdown">
                          <a class="dropdown-toggle" href="javascript:void;">
                            <span class="selected-coin3">USD</span>
                          </a>
                          <!-- <div class="dropdown-menu dropdown-menu-coin3" aria-labelledby="dropdowncoin3">
                            <a class="dropdown-item" href="#!">ETH</a>
                            <a class="dropdown-item" href="#!">BTC</a>
                            <a class="dropdown-item" href="#!">LCT</a>
                            <a class="dropdown-item" href="#!">DOC</a>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <a href="#!"
                          class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary">Exchange!</a>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="exchange-protect">
                      <!-- <img src="/images/protect.png" alt="..."> -->
                      <p id="token-msg"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-section">
      <div class="container">
        <div class="row">

          <% include ./partials/index %>

        </div>
      </div>
    </div>

    <% include ./partials/footer %>
    <script type='text/javascript' src="/javascripts/custom.js"></script>
</body>

</html>