<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
</head>

<body
  class="home page-template-default page page-id-42 sticky-header rocket_layout_fullwidth wpb-js-composer js-comp-ver-6.1 vc_responsive">
  <div class="page-loader">
    <div class="loader-inner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
  <div class="page-wrapper">
    <% include ./partials/header-wrapper %>
    <header
      class="page-title section-title-wrapper section-title-wrapper__no-bottom-margin page-title-layout__both-centered page_title_preset_1 page-title_overflow">
      <div class="section-title-inner">
        <div class="container">
          <div class="section-title-decoration">
            <div class="row">
              <div class="col-md-12">
                <h1 class="section-title section-title__lg">Powermine Warriors get ready!</h1>
              </div>
              <div class="col-md-12 breadcrumbs-default">
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                  <li><a href="/">Home</a></li>
                </ol>
              </div>
            </div>
            <span class="section-title-dots">
              <span class="dot1"></span>
              <span class="dot2"></span>
              <span class="dot3"></span>
            </span>
          </div>
        </div>
        <div class="section-title-overlay"></div>
      </div>
    </header>
    <div class="page-section">
      <div class="container">
        <div class="row">

          <% include ./partials/index %>

        </div>
      </div>
    </div>

    <% include ./partials/footer %>
</body>

</html>