<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body
        class="thechosenone-body-view">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <div class="top-wrapper" id="top">

        <div class="header-wrapper">
            <header class="header header__fixed padding-bottom-zero" id="header">
                <div class="header-main">
                    <div class="header-main-container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <div class="logo">
                                    <a href="/thechosenone" rel="home">
                                        <img src="/images/thechosenone-logo.png"
                                             srcset="/images/thechosenone-logo.png 2x"
                                             alt="powermine" title="Powermine warriors get ready!">
                                    </a>
                                </div>
                            </div>
                            <!--                            Nav Bar section-->
                            <div id="main-nav" class="navbar-holder collapse navbar-collapse">
                                <div class="menu-header-menu-container">
                                    <ul id="menu-header-menu" class="nav navbar-nav text-center">
                                        <li id="menu-item-134"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-134">
                                            <a href="/per-airdrop-claim" aria-current="page">
                                                <!--                        <img src="/images/isot.png" width="25"/>-->
                                                Per Airdrop Claim
                                            </a>
                                        </li>
                                        <li id="menu-item-133"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-133">
                                            <a href="/pmine-loans" aria-current="page">
                                                <!--                        <img src="/images/isot.png" width="25"/>-->
                                                PMINE LOANS
                                            </a>
                                        </li>

                                        <li id="menu-item-135"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-135">
                                            <a href="https://sonata.asia/accountCreation" aria-current="page"
                                               target="_blank">
                                                <!--                        <img src="/images/isot.png" width="25"/>-->
                                                Create IOST Account
                                            </a>
                                        </li>
                                        <!-- <li id="menu-item-137" -->
                                        <!-- class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-137"> -->
                                        <!-- <a href="/#pmine-exchange" aria-current="page">PMINE DEX</a></li> -->
                                        <li id="menu-item-143"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-143">
                                            <a href="/imatch" aria-current="page">IMATCH</a></li>
                                        <li id="menu-item-136"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136">
                                            <a href="/powermine-whitepaper/">WHITEPAPER</a></li>
                                        <li id="menu-item-142"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142">
                                            <a href="https://coinswitch.co/?ref=O86FUWI24E" target="_blank">SWAP-IOST/TRX</a>
                                        </li>
                                        <li id="menu-item-139" style="display: none;"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-139">
                                            <a href="/powermine-admin/" aria-current="page">ADMIN</a>
                                        </li>
                                        <li id="menu-item-1399" style="display: none;"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1399">
                                            <a href="/admin-vdc/" aria-current="page">ADMIN for VDC</a>
                                        </li>
                                        <li id="menu-item-140"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-140">
                                            <a href="https://t.me/powermine_club" aria-current="page"
                                               target="_blank"><img
                                                        src="/images/telegram-icon.png" width="25"/></a>
                                        </li>
                                        <li id="menu-item-144"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-141">
                                            <a href="https://discord.gg/M8XXzGy" aria-current="page"
                                               target="_blank"><img
                                                        src="/images/Discord-logo.png" width="25"/></a>
                                        </li>
                                        <br style="clear:both">
                                        <li id="menu-item-149"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-149">
                                            <a href="/epic" aria-current="page">
                                                <img src="/images/epic-logo.png"
                                                     alt="epic" title="EPIC!"
                                                     style="width:134px; margin-top:-20px" class="epic-logo">
                                            </a></li>
                                        <li id="menu-item-148"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                            <a href="/iChips" aria-current="page">
                                                <img src="/images/iChips-logo.png"
                                                     alt="iChips" title="ICHIPS!"
                                                     style="width:150px; margin-top:-15px" class="ichips-logo">
                                            </a></li>
                                        <li id="menu-item-144"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                            <a href="/igoose" aria-current="page">
                                                <img src="/images/IgooseV2Transpanoshadow.png"
                                                     alt="igoose" title="IGOOSE!"
                                                     style="width:150px; margin-top:-5px" class="igoose-logo">
                                            </a></li>
                                        <!--                                        <li id="menu-item-145"-->
                                        <!--                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-145">-->
                                        <!--                                            <img src="/images/Dice-comingsoon.png"-->
                                        <!--                                                 srcset="/images/Dice-comingsoon.png 2x"-->
                                        <!--                                                 alt="powermine" title="Powermine warriors get ready!"-->
                                        <!--                                                 style="width:150px;" class="dice-logo">-->
                                        <!--                                        </li>-->
                                        <li id="menu-item-146"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                            <a href="http://powerdefi.io/" target="_blank"><img
                                                        src="/images/powerdefi.png"
                                                        srcset="/images/powerdefi.png 2x"
                                                        alt="powermine" title="Powermine warriors get ready!"
                                                        style="width:200px; margin-top:-15px;"
                                                        class="powerdefi-logo"></a>
                                        </li>
                                        <li id="menu-item-147"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                            <a href="/"><img src="/images/Powerminer.png"
                                                             srcset="/images/Powerminer.png 2x"
                                                             alt="powermine"
                                                             title="Powermine warriors get ready!"
                                                             style="width:200px; margin-top:-15px;"
                                                             class="powermine-logo"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="navbar-toggler toggler-right-0" type="button" data-toggle="collapse"
                                    data-target="#main-nav" aria-controls="navbarNavDropdown" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <main role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-info-box animated-box">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>

                        <h3 class="text-white left-info-box-title left-info-box-title--stat left-info-box-title--stat_effect">Stat</h3>

                        <div class="table-responsive">
                            <table class="table table-dark stat-table">
                                <thead>
                                <tr>
                                    <th>Account name</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                </tr>
                                </thead>
                                <tbody id="userStatsTable">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-md-4 col-md-offset-4">
                            <h2 class="space-between-text text-white round-text">Round: <span
                                        id="roundNumber">004</span></h2>
                        </div>
                    </div>
                    <div class="row display-flex">
                        <div class="col-md-4 col-md-offset-2 bg-golden account-detail-section">
                            <p class="space-between-text text-white margin-bottom-zero">iost account: <span
                                        id="accountName"></span></p>
                            <p class="space-between-text text-white margin-bottom-zero">iost balance: <span
                                        id="accountIostBalance">0 iost</span></p>
                            <p class="space-between-text text-white margin-bottom-zero">pmine balance: <span
                                        id="accountPmineBalance">0 pmine</span></p>
                        </div>

                        <div class="col-md-4 bg-golden">
                            <div class="row">
                                <!--                                <div class="col-md-6 text-center">-->
                                <!--                                    <label class="text-white">Deposit Amount:</label>-->
                                <!--                                    <br/>-->
                                <!--                                    <div class="dice-panel-input">-->
                                <!--                                        <input name="deposit-amount" id="deposit-amt" class="dice-deposit-amount"/>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="col-md-12">
                                    <!--                                    <button class="dice-roll-btn">-->
                                    <!--                                        <div class="mr-05">-->
                                    <!--                                            <svg-icon>-->
                                    <!--                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="#fff"-->
                                    <!--                                                     style="width: 40px; height: 18px;">-->
                                    <!--                                                    <path d="M68.4 23.7c1.4-.4 3.5.1 4.6 1.1 1.1 1 .8 2.2-.6 2.7-1.4.4-3.5-.1-4.6-1.1-1.1-1.1-.8-2.3.6-2.7zM70 17c1.4-.4 3.5.1 4.6 1.1 1.1 1.1.8 2.2-.6 2.7-1.4.4-3.5-.1-4.6-1.1-1.1-1.1-.8-2.3.6-2.7zm2.2-6.8c1.4-.4 3.5.1 4.6 1.1 1.1 1.1.8 2.2-.6 2.7-1.4.4-3.5-.1-4.6-1.1-1.1-1.1-.8-2.3.6-2.7zm-7.4 17.7C67 30 71.1 31 74 30.2l15-4.4c2.9-.8 3.5-3.2 1.3-5.3l-11.4-11c-2.2-2.1-6.3-3.1-9.2-2.3l-15.1 4.4c-2.9.8-3.5 3.2-1.3 5.3l11.5 11zM89.7 31.7c-.4 1.5-1.8 3-3.3 3.4-1.4.4-2.3-.4-2-1.9.4-1.5 1.8-3 3.3-3.4 1.5-.4 2.3.4 2 1.9zm-1.9 6.9c-.4 1.5-1.8 3-3.3 3.4-1.4.4-2.3-.4-2-1.9.4-1.5 1.8-3 3.3-3.4 1.5-.4 2.3.5 2 1.9zm-1.5 6.9c-.4 1.5-1.8 3-3.3 3.4-1.4.4-2.3-.4-2-1.9.4-1.5 1.8-3 3.3-3.4 1.5-.4 2.4.4 2 1.9zm-9.8-10c-.4 1.5-1.8 3-3.3 3.4-1.4.4-2.3-.4-2-1.9.4-1.5 1.8-3 3.3-3.4 1.5-.4 2.4.4 2 1.9zm-1.7 6.9c-.4 1.5-1.8 3-3.3 3.4-1.5.4-2.3-.4-2-1.9.4-1.5 1.8-3 3.3-3.4 1.5-.4 2.4.4 2 1.9zm-1.6 6.9c-.4 1.5-1.8 3-3.3 3.4-1.4.4-2.3-.4-2-1.9.4-1.5 1.8-3 3.3-3.4 1.4-.4 2.3.4 2 1.9zm16-22.9L74 30.8c-2.9.8-5.8 3.9-6.5 6.8l-3.7 15.3c-.7 2.9 1.1 4.6 4 3.8L83 52.3c2.9-.8 5.8-3.9 6.6-6.8l3.7-15.3c.6-2.9-1.2-4.6-4.1-3.8zM64.1 35.5c-.4 1.5-1.5 1.8-2.6.7s-1.7-3.1-1.3-4.5c.4-1.5 1.5-1.8 2.6-.7 1.1 1 1.7 3.1 1.3 4.5zm-3.5 13.8c-.4 1.5-1.5 1.8-2.6.7-1.1-1-1.7-3.1-1.3-4.5.4-1.5 1.5-1.8 2.6-.7 1.1 1 1.7 3.1 1.3 4.5zm-5.9-10.6c-1.1-1-1.7-3.1-1.3-4.5.4-1.5 1.5-1.8 2.6-.7 1.1 1 1.7 3.1 1.3 4.5-.3 1.4-1.5 1.8-2.6.7zm-3.1-11.9c-1.1-1-1.7-3.1-1.3-4.5.4-1.5 1.5-1.8 2.6-.7 1.1 1 1.7 3.1 1.3 4.5-.3 1.4-1.5 1.7-2.6.7zm-.8 13c-.4 1.5-1.5 1.8-2.6.7-1.1-1-1.7-3.1-1.3-4.5.4-1.5 1.5-1.8 2.6-.7 1.1 1 1.6 3.1 1.3 4.5zm13.3-11.4l-11.4-11c-2.2-2.1-4.5-1.4-5.3 1.5l-3.8 15.3c-.7 2.9.4 7 2.6 9.1l11.4 11c2.2 2.1 4.5 1.4 5.3-1.5l3.8-15.3c.8-3-.4-7.1-2.6-9.1zM52.7 74.5c-1 1.1-2.2.9-2.7-.6-.5-1.4 0-3.5 1-4.6 1-1.1 2.2-.9 2.7.6s0 3.5-1 4.6zm-13.5-3.4c-1 1.1-2.2.9-2.7-.6-.5-1.4 0-3.5 1-4.6 1-1.1 2.2-.9 2.7.6.4 1.4 0 3.5-1 4.6zm12.4-17.8c-.9-2.9-3.3-3.4-5.4-1.1L35.6 63.8c-2 2.2-2.9 6.4-2 9.2l4.8 15c.9 2.9 3.3 3.4 5.4 1.1l10.6-11.7c2-2.2 2.9-6.4 2-9.2l-4.8-14.9zM13.8 57.4c1-1.1 3-1.8 4.5-1.4 1.5.3 1.9 1.5.8 2.6-1 1.1-3 1.8-4.5 1.4-1.5-.3-1.9-1.4-.8-2.6zm9.5-10.5c1-1.1 3-1.8 4.5-1.4 1.5.3 1.9 1.5.8 2.6-1 1.1-3 1.8-4.5 1.4-1.4-.3-1.8-1.5-.8-2.6zm8.3 12c1.5.3 1.9 1.5.8 2.6-1 1.1-3 1.8-4.5 1.4-1.5-.3-1.9-1.5-.8-2.6 1-1.1 3-1.7 4.5-1.4zm5.1-9.1c1-1.1 3-1.8 4.5-1.4 1.5.3 1.9 1.5.8 2.6-1 1.1-3 1.8-4.5 1.4-1.4-.3-1.8-1.5-.8-2.6zM10.8 62.5l15.4 3.4c3 .6 7-.6 9-2.9l10.6-11.7c2-2.2 1.3-4.6-1.7-5.2l-15.4-3.4c-3-.6-7 .6-9 2.9L9.1 57.3c-2 2.2-1.2 4.5 1.7 5.2zM31.7 88.1c-1.5-.3-3-1.7-3.5-3.2-.4-1.4.4-2.3 1.9-2 1.5.3 3 1.7 3.5 3.2.4 1.4-.4 2.3-1.9 2zm-5.8-10c-.4-1.4.4-2.3 1.9-2 1.5.3 3 1.7 3.5 3.2.5 1.4-.4 2.3-1.9 2-1.5-.4-3.1-1.8-3.5-3.2zm-2-6.8c-.5-1.4.4-2.3 1.9-2 1.5.3 3 1.7 3.5 3.2.4 1.4-.4 2.3-1.9 2-1.5-.3-3-1.7-3.5-3.2zm-5.6 13.9c-1.5-.3-3-1.7-3.5-3.2-.4-1.4.4-2.3 1.9-2 1.5.3 3 1.7 3.5 3.2.4 1.4-.4 2.3-1.9 2zm-5.6-10c-.4-1.4.4-2.3 1.9-2 1.5.3 3 1.7 3.5 3.2.5 1.4-.4 2.3-1.9 2-1.5-.3-3.1-1.8-3.5-3.2zm-2.2-6.8c-.5-1.4.4-2.3 1.9-2 1.5.3 3 1.7 3.5 3.2.4 1.4-.4 2.3-1.9 2-1.4-.3-3-1.8-3.5-3.2zm22 4.3c-.9-2.9-4-5.7-7-6.4L10.1 63c-3-.6-4.6 1.2-3.7 4l4.7 15c.9 2.9 4 5.7 7 6.4l15.4 3.4c3 .6 4.6-1.2 3.7-4l-4.7-15.1z"-->
                                    <!--                                                    ></path>-->
                                    <!--                                                </svg>-->
                                    <!--                                            </svg-icon>-->
                                    <!--                                            <div class="dice-roll-btn&#45;&#45;shadow"></div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="dice-roll-btn-caption">-->
                                    <!--                                            <div class="text">DICEROLL</div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </button>-->
                                    <div class="row purchPmineLink">
                                        <div class="col-md-6 col-sm-12 dice-btn-section-1">
                                            <button class="dice-roll-btn" id="joinRoundBtn">
                                                <div class="dice-roll-btn-caption">
                                                    <div class="text">Join Round</div>
                                                </div>
                                            </button>
                                        </div>

                                        <div class="col-md-6 col-sm-12 text-center">
                                            <p class="text-white margin-bottom-zero">(requires 3000 iost)</p>
                                        </div>
                                    </div>

                                    <div class="row purchPmineLink">
                                        <div class="col-md-6 col-sm-12 dice-btn-section-2">
                                            <button class="dice-roll-btn" id="dethroneKingBtn">
                                                <div class="dice-roll-btn-caption">
                                                    <div class="text">Dethrone King</div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-center">
                                            <p class="text-white margin-bottom-zero">(requires 1000 iost)</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center" id="statusBuyMsg">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-lg-offset-1">
                    <div class="left-info-box animated-box padding-bottom-zero text-center">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>

                        <h5 class="text-white left-info-box-title left-info-box-title--king">Players of Current Round</h5>
                        <p class="king-knights-info-section text-center margin-bottom-zero">
<!--                            <img src="/images/crown.png" width="30" height="24"/> -->
                            <b class="king-text" id="kingVal">none</b>
                        </p>
                        <p class="king-knights-info-section text-center margin-bottom-zero">
<!--                            <img src="/images/knight.png" width="30" height="30"/> -->
                            <b class="king-text" id="knightVal1">none</b>
                        </p>
                        <p class="king-knights-info-section text-center margin-bottom-zero">
<!--                            <img src="/images/knight.png" width="30" height="30"/> -->
                            <b class="king-text" id="knightVal2">none</b>
                        </p>
                        <p class="king-knights-info-section text-center margin-bottom-zero">
<!--                            <img src="/images/knight.png" width="30" height="30"/> -->
                            <b class="king-text" id="knightVal3">none</b>
                        </p>
                        <p class="king-knights-info-section text-center margin-bottom-zero">
<!--                            <img src="/images/knight.png" width="30" height="30"/> -->
                            <b class="king-text" id="knightVal4">none</b>
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-info-box animated-box">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h3 class="text-white left-info-box-title left-info-box-title--king left-info-box-title--king_effect">King History</h3>

                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#countKing" aria-controls="countKing" role="tab" data-toggle="tab"
                                       id="countKing-tab" class="text-center">
                                        <img src="/images/crown.png" alt="King" class="tab-header-img"/></a>
                                </li>
                                <li role="presentation">
                                    <a href="#countWin" aria-controls="countWin" role="tab" data-toggle="tab"
                                       id="countWin-tab" class="text-center">
                                        <img src="/images/rank.png" alt="Rank" class="tab-header-img"/>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="countKing">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-dark stat-table">
                                                <caption class="text-white">How many times a user has been a king
                                                </caption>
                                                <thead>
                                                <tr>
                                                    <th>Account name</th>
                                                    <th>Count</th>
                                                </tr>
                                                </thead>
                                                <tbody id="countKingTable">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="countWin">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-dark stat-table">
                                                <caption class="text-white">How many times have players won the round
                                                </caption>
                                                <thead>
                                                <tr>
                                                    <th>Round Number</th>
                                                    <th>Account Name</th>
                                                </tr>
                                                </thead>
                                                <tbody id="countWinTable">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="ticker-wrap">
        <div class="ticker">
            <div class="ticker__item" id="div_king_of_known">
                <span class="ticker-sub--title">King of Renown: </span>
                <span class="ticker-sub--content" id="king_known"></span>
            </div>
            <div class="ticker__item" id="div_king_of_week">
                <span class="ticker-sub--title">King of the week: </span>
                <span class="ticker-sub--content" id="king_week"></span>
            </div>
            <div class="ticker__item" id="div_sitting_king">
                <span class="ticker-sub--title">Sitting King: </span>
                <span class="ticker-sub--content" id="sitting_king"></span>
            </div>
            <div class="ticker__item" id="div_pmine_burnt_total">
                <span class="ticker-sub--title">Total Pmine Burnt Across the Network: </span>
                <span class="ticker-sub--content" id="pmine_burnt_total"></span>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="/images/thechosenone-modal-bg.jpg"/>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            You are now entering hallowed ground where the titans
                            of Powermine do battle... Fierce competition awaits any
                            souls who are brave enough to enter the gauntlet...
                            Have your sword and shield ready, as the king is a tough
                            warrior who doesn't go down without a fight... Enter
                            now and be tested, find out if you have what it takes to
                            survive and gain treasure befitting the chosen one...
                            <br/>
                            THIS DECENTRALIZED APPLICATION HAS BEEN MADE
                            FOR ENTERTAINMENT PURPOSES AND IS A GAME, NOT
                            AN INVESTMENT PLATFORM. NO GUARANTEES OR
                            WARRANTIES ARE ISSUED TO ANY PARTICIPANTS.
                            PLEASE DO NOT PARTICIPATE IN THIS GAME IF IT IS NOT
                            LEGAL TO DO SO IN YOUR PARTICULAR LOCALITY.
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <button type="button" class="btn btn-sm" data-dismiss="modal">Enter the Gauntlet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TradingView Widget END -->
    <link rel='stylesheet' href="/stylesheets/js_composer/css/v4-shims.min.css" type='text/css' media='all'/>
    <link rel='stylesheet' id='vc_font_awesome_5-css' href="/stylesheets/js_composer/css/all.min.css" type='text/css'
          media='all'/>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = {
            "apiSettings": {
                "root": "http:\/\/powermine.club\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src="/javascripts/contact-form-7/scripts.js">
    </script>
    <script type='text/javascript' src="/stylesheets/bootstrap/bootstrap.min.js">
    </script>
    <script type='text/javascript' src="/stylesheets/bootstrap/bootstrap-scripts.js">
    </script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.easing.1.3.js"></script>
    <script type='text/javascript' src="/stylesheets/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.scrollTo.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.localScroll.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.viewport.mini.js"></script>
    <script type='text/javascript' src="/javascripts/rocket/custom.js"></script>
    <script type='text/javascript' src="/javascripts/hoverIntent.min.js"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var megamenu = {
            "timeout": "300",
            "interval": "100"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src="/javascripts/maxmegamenu.js"></script>
    <script type='text/javascript' src="/javascripts/wp-embed.min.js"></script>
    <script type='text/javascript' src="/javascripts/js_composer_front.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.appear.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.countTo.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.countToInit-counter.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/iost@0.1.22/dist/iost.min.js'></script>
    <div id="back-top" class="back-top">
        <div class="link-holder scroll-local">
            <a href="#top" id="back-to-top-btn" class="top-link"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>

    <script type='text/javascript' src="/javascripts/iost/thechosenone-user.js">
    </script>
</body>

</html>