<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body
        class="vdc-body-view">
<div class="page-loader">
    <div class="loader-inner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="page-wrapper">
    <div class="top-wrapper" id="top">

        <div class="header-wrapper">
            <header class="header header__fixed" id="header">
                <div class="header-main">
                    <div class="header-main-container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <div class="logo">
                                    <a href="/vdc" rel="home">
                                        <img src="/images/vdc-logo.png" srcset="/images/vdc-logo.png 2x"
                                             alt="powermine" title="Powermine warriors get ready!">
                                    </a>
                                </div>
                            </div>
                            <div id="main-nav" class="navbar-holder collapse navbar-collapse">
                                <div class="menu-header-menu-container">
                                    <ul id="menu-header-menu" class="nav navbar-nav text-center">
                                        <li id="menu-item-134"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-134">
                                            <a href="/per-airdrop-claim" aria-current="page">
                                                <!--                        <img src="/images/isot.png" width="25"/>-->
                                                Per Airdrop Claim
                                            </a>
                                        </li>
                                        <li id="menu-item-133"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-133">
                                            <a href="/pmine-loans" aria-current="page">
                                                <!--                        <img src="/images/isot.png" width="25"/>-->
                                                PMINE LOANS
                                            </a>
                                        </li>

                                        <li id="menu-item-135"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-135">
                                            <a href="https://sonata.asia/accountCreation" aria-current="page"
                                               target="_blank">
                                                <!--                        <img src="/images/isot.png" width="25"/>-->
                                                Create IOST Account
                                            </a>
                                        </li>
                                        <!-- <li id="menu-item-137" -->
                                        <!-- class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-137"> -->
                                        <!-- <a href="/#pmine-exchange" aria-current="page">PMINE DEX</a></li> -->
                                        <li id="menu-item-143"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-143">
                                            <a href="/imatch" aria-current="page">IMATCH</a></li>
                                        <li id="menu-item-136"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136">
                                            <a href="/powermine-whitepaper/">WHITEPAPER</a></li>
                                        <li id="menu-item-142"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142">
                                            <a href="https://coinswitch.co/?ref=O86FUWI24E" target="_blank">SWAP-IOST/TRX</a>
                                        </li>
                                        <li id="menu-item-139" style="display: none;"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-139">
                                            <a href="/powermine-admin/" aria-current="page">ADMIN</a>
                                        </li>
                                        <li id="menu-item-1399" style="display: none;"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1399">
                                            <a href="/admin-vdc/" aria-current="page">ADMIN for VDC</a>
                                        </li>
                                        <li id="menu-item-140"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-140">
                                            <a href="https://t.me/powermine_club" aria-current="page"
                                               target="_blank"><img
                                                        src="/images/telegram-icon.png" width="25"/></a>
                                        </li>
                                        <li id="menu-item-144"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-141">
                                            <a href="https://discord.gg/M8XXzGy" aria-current="page"
                                               target="_blank"><img
                                                        src="/images/Discord-logo.png" width="25"/></a>
                                        </li>
                                        <br style="clear:both">
                                        <li id="menu-item-148"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                            <a href="/iChips" aria-current="page">
                                                <img src="/images/iChips-logo.png"
                                                     alt="iChips" title="ICHIPS!"
                                                     style="width:150px; margin-top:-15px" class="ichips-logo">
                                            </a></li>
                                        <li id="menu-item-144"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144">
                                            <a href="/igoose" aria-current="page">
                                                <img src="/images/IgooseV2Transpanoshadow.png"
                                                     alt="igoose" title="IGOOSE!"
                                                     style="width:150px; margin-top:-5px" class="igoose-logo">
                                            </a></li>
                                        <li id="menu-item-149"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-149">
                                            <a href="/epic" aria-current="page">
                                                <img src="/images/epic-logo.png"
                                                     alt="epic" title="EPIC!"
                                                     style="width:150px; margin-top:-15px" class="epic-logo">
                                            </a></li>
<!--                                        <li id="menu-item-145"-->
<!--                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-145">-->
<!--                                            <img src="/images/Dice-comingsoon.png"-->
<!--                                                 srcset="/images/Dice-comingsoon.png 2x"-->
<!--                                                 alt="powermine" title="Powermine warriors get ready!"-->
<!--                                                 style="width:150px;" class="dice-logo">-->
<!--                                        </li>-->
                                        <li id="menu-item-146"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                            <a href="http://powerdefi.io/" target="_blank"><img
                                                        src="/images/powerdefi.png"
                                                        srcset="/images/powerdefi.png 2x"
                                                        alt="powermine" title="Powermine warriors get ready!"
                                                        style="width:200px; margin-top:-15px;" class="powerdefi-logo"></a>
                                        </li>
                                        <li id="menu-item-147"
                                            class="menu-img menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-146">
                                            <a href="/"><img src="/images/Powerminer.png"
                                                             srcset="/images/Powerminer.png 2x"
                                                             alt="powermine"
                                                             title="Powermine warriors get ready!"
                                                             style="width:200px; margin-top:-15px;" class="powermine-logo"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="navbar-toggler toggler-right-0" type="button" data-toggle="collapse"
                                    data-target="#main-nav" aria-controls="navbarNavDropdown" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>

                    </div>
                </div>
            </header>
        </div>
    </div>
    <!--    <div class="section-title-inner">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-md-12 col-sm-12 col-xs-12 coin-price-section iChip-timer vdc-timer">-->
    <!--                    <div class="timer">-->
    <!--                        <ul class="text-center">-->
    <!--                            <li class="timer-default timer-unique"><span id="timer_days">0</span>Days</li>-->
    <!--                            <li class="timer-default timer-unique"><span id="timer_hours">0</span>Hours</li>-->
    <!--                            <li class="timer-default timer-unique"><span id="timer_minutes">0</span>Minutes</li>-->
    <!--                            <li class="timer-default timer-unique"><span id="timer_seconds">0</span>Seconds</li>-->
    <!--                        </ul>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="section-title-decoration">-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="section-title-overlay"></div>-->
    <!--    </div>-->
    <main role="main">
        <div class="Uniswap container">
            <div class="row text-center margin-auto">
                <div class="col-md-12">
                    <h1 class="componenet-title">PMINE</h1>
                    <h1 class="componenet-title">Virtual Deposit Contracts</h1>
                </div>
            </div>
            <div class="row text-center margin-auto" style="padding-top: 25px;">
                <div class="col-md-6 col-md-offset-3 vdc-balance-div">
                    <p class="text-white margin-bottom-zero" style="display: flex;justify-content: space-between;">IOST
                        Balance : <span id="iostBalance">0</span></p>
                    <p class="text-white margin-bottom-zero" style="display: flex;justify-content: space-between;">PMINE
                        Balance : <span id="pmineBalance">0</span></p>
                    <p class="text-white margin-bottom-zero" style="display: flex;justify-content: space-between;">PER
                        Balance : <span id="perBalance">0</span></p>
                </div>
            </div>
            <div class="row margin-auto">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2 class="loans-page_orange-color" style="margin-bottom: 0px;">COMPOUND</h2>
                            <p class="loans-page_orange-color">1% PMINE Daily drip pool</p>
                        </div>
                    </div>

                    <div class="row text-center vdc-alert" id="statusVDC1Msg">
                    </div>

                    <div class="uniswap-container">
                        <div class="swap">
                            <form action="" autocomplete="off">
                                <div class="containers">
                                    <div class="row text-center">
                                        <div class="col-md-4 col-sm-12">
                                            <input type="number" placeholder="0.0" id="vdc1-deposit-amount">
                                            <br>
                                            <div align="center" style="margin-top: 10px;">
                                                <a href="javascript:void(0);" class="rocket-button gold-rocket-button"
                                                   id="vdc1-deposit-btn">
                                                    <div class="default">Deposit</div>
                                                    <div class="success">
                                                        <svg>
                                                            <use xlink:href="#check">
                                                        </svg>
                                                        <div>Deposit</div>
                                                    </div>
                                                    <div class="animation">
                                                        <div class="rocket">
                                                            <svg>
                                                                <use xlink:href="#rocket"></use>
                                                            </svg>
                                                        </div>
                                                        <div class="smoke"><i></i><i></i><i></i><i></i><i></i><i></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11"
                                                            id="check">
                                                        <polyline stroke="currentColor"
                                                                  points="1 5.5 5 9.5 12 1.5"></polyline>
                                                    </symbol>
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36"
                                                            id="rocket">
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 L8.66666667,31 C4.22222222,19.0350877 5.33333333,8.70175439 12,0 Z"
                                                              fill="var(--rocket)"></path>
                                                        <path d="M12,0 C5.33333333,8.70175439 4.22222222,19.0350877 8.66666667,31 C6.72222222,17.9473684 7.83333333,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-left)"></path>
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 C17.2777778,17.9473684 16.1666667,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-right)"></path>
                                                        <path d="M22.2399372,27.25 C21.2403105,25.558628 19.4303122,23.808628 16.21,22 L15,31 L17.6512944,31 C18.2564684,31 18.8216022,31.042427 19.1572924,31.5292747 L21.7379379,35.271956 C22.0515593,35.7267976 22.5795404,36 23.1449294,36 C23.5649145,36 23.9142153,35.7073938 23.9866527,35.3215275 L24,35.146217 L23.9987214,35.1196135 C23.7534506,31.4421183 23.1671892,28.8189138 22.2399372,27.25 Z"
                                                              fill="var(--rocket-wing-right)"></path>
                                                        <path d="M1.76006278,27.25 C2.75968951,25.558628 4.56968777,23.808628 7.79,22 L9,31 L6.34870559,31 C5.74353157,31 5.17839777,31.042427 4.84270762,31.5292747 L2.2620621,35.271956 C1.94844071,35.7267976 1.42045963,36 0.855070627,36 C0.435085457,36 0.0857846604,35.7073938 0.0133472633,35.3215275 L0,35.146217 L0.00127855763,35.1196135 C0.24654935,31.4421183 0.832810758,28.8189138 1.76006278,27.25 Z"
                                                              fill="var(--rocket-wing-left)"></path>
                                                        <circle fill="var(--rocket-window-shadow)" cx="12" cy="12"
                                                                r="3"></circle>
                                                        <circle fill="var(--rocket-window)" cx="12" cy="12"
                                                                r="2.5"></circle>
                                                        <path d="M15.6021597,5.99977504 L8.39784027,5.99977504 C8.54788101,5.6643422 8.70496315,5.3309773 8.86908669,4.99968036 L15.1309133,4.99968036 C15.2950369,5.3309773 15.452119,5.6643422 15.6021597,5.99977504 Z"
                                                              fill-opacity="0.3" fill="var(--rocket-line)"></path>
                                                    </symbol>
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <img src="/images/vdc-compound.png" style="height: 70px;"/>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <input type="number" placeholder="0.0" id="vdc1-withdraw-amount">
                                            <br>
                                            <div align="center" style="margin-top: 10px;">
                                                <a href="javascript:void(0);" class="rocket-button gold-rocket-button"
                                                   id="vdc1-withdraw-btn">
                                                    <div class="default">Withdraw</div>
                                                    <div class="success">
                                                        <svg>
                                                            <use xlink:href="#check">
                                                        </svg>
                                                        <div>Withdraw</div>
                                                    </div>
                                                    <div class="animation">
                                                        <div class="rocket">
                                                            <svg>
                                                                <use xlink:href="#rocket"></use>
                                                            </svg>
                                                        </div>
                                                        <div class="smoke"><i></i><i></i><i></i><i></i><i></i><i></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11"
                                                            id="check">
                                                        <polyline stroke="currentColor"
                                                                  points="1 5.5 5 9.5 12 1.5"></polyline>
                                                    </symbol>
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36"
                                                            id="rocket">
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 L8.66666667,31 C4.22222222,19.0350877 5.33333333,8.70175439 12,0 Z"
                                                              fill="var(--rocket)"></path>
                                                        <path d="M12,0 C5.33333333,8.70175439 4.22222222,19.0350877 8.66666667,31 C6.72222222,17.9473684 7.83333333,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-left)"></path>
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 C17.2777778,17.9473684 16.1666667,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-right)"></path>
                                                        <path d="M22.2399372,27.25 C21.2403105,25.558628 19.4303122,23.808628 16.21,22 L15,31 L17.6512944,31 C18.2564684,31 18.8216022,31.042427 19.1572924,31.5292747 L21.7379379,35.271956 C22.0515593,35.7267976 22.5795404,36 23.1449294,36 C23.5649145,36 23.9142153,35.7073938 23.9866527,35.3215275 L24,35.146217 L23.9987214,35.1196135 C23.7534506,31.4421183 23.1671892,28.8189138 22.2399372,27.25 Z"
                                                              fill="var(--rocket-wing-right)"></path>
                                                        <path d="M1.76006278,27.25 C2.75968951,25.558628 4.56968777,23.808628 7.79,22 L9,31 L6.34870559,31 C5.74353157,31 5.17839777,31.042427 4.84270762,31.5292747 L2.2620621,35.271956 C1.94844071,35.7267976 1.42045963,36 0.855070627,36 C0.435085457,36 0.0857846604,35.7073938 0.0133472633,35.3215275 L0,35.146217 L0.00127855763,35.1196135 C0.24654935,31.4421183 0.832810758,28.8189138 1.76006278,27.25 Z"
                                                              fill="var(--rocket-wing-left)"></path>
                                                        <circle fill="var(--rocket-window-shadow)" cx="12" cy="12"
                                                                r="3"></circle>
                                                        <circle fill="var(--rocket-window)" cx="12" cy="12"
                                                                r="2.5"></circle>
                                                        <path d="M15.6021597,5.99977504 L8.39784027,5.99977504 C8.54788101,5.6643422 8.70496315,5.3309773 8.86908669,4.99968036 L15.1309133,4.99968036 C15.2950369,5.3309773 15.452119,5.6643422 15.6021597,5.99977504 Z"
                                                              fill-opacity="0.3" fill="var(--rocket-line)"></path>
                                                    </symbol>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-md-6 col-md-offset-3">
                                        <b class="loans-page_orange-color">YOUR HOLDINGS</b>
                                        <br>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-md-6 col-md-offset-3" id="pmine-holdings-1">
                                        <p class="loans-page_orange-color"><span
                                                    id="vdc1-holding-pmine">0.00000000</span> PMINE</p>
                                    </div>
                                </div>

                                <div align="center">
                                    <a href="javascript:void(0);" class="rocket-button gold-rocket-button"
                                       id="vdc1-claim-btn">
                                        <div class="default">CLAIM REWARDS</div>
                                        <div class="success">
                                            <svg>
                                                <use xlink:href="#check">
                                            </svg>
                                            <div>CLAIM REWARDS</div>
                                        </div>
                                        <div class="animation">
                                            <div class="rocket">
                                                <svg>
                                                    <use xlink:href="#rocket"></use>
                                                </svg>
                                            </div>
                                            <div class="smoke"><i></i><i></i><i></i><i></i><i></i><i></i></div>
                                        </div>
                                    </a>
                                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11" id="check">
                                            <polyline stroke="currentColor" points="1 5.5 5 9.5 12 1.5"></polyline>
                                        </symbol>
                                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36" id="rocket">
                                            <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 L8.66666667,31 C4.22222222,19.0350877 5.33333333,8.70175439 12,0 Z"
                                                  fill="var(--rocket)"></path>
                                            <path d="M12,0 C5.33333333,8.70175439 4.22222222,19.0350877 8.66666667,31 C6.72222222,17.9473684 7.83333333,7.61403509 12,0 Z"
                                                  fill="var(--rocket-shadow-left)"></path>
                                            <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 C17.2777778,17.9473684 16.1666667,7.61403509 12,0 Z"
                                                  fill="var(--rocket-shadow-right)"></path>
                                            <path d="M22.2399372,27.25 C21.2403105,25.558628 19.4303122,23.808628 16.21,22 L15,31 L17.6512944,31 C18.2564684,31 18.8216022,31.042427 19.1572924,31.5292747 L21.7379379,35.271956 C22.0515593,35.7267976 22.5795404,36 23.1449294,36 C23.5649145,36 23.9142153,35.7073938 23.9866527,35.3215275 L24,35.146217 L23.9987214,35.1196135 C23.7534506,31.4421183 23.1671892,28.8189138 22.2399372,27.25 Z"
                                                  fill="var(--rocket-wing-right)"></path>
                                            <path d="M1.76006278,27.25 C2.75968951,25.558628 4.56968777,23.808628 7.79,22 L9,31 L6.34870559,31 C5.74353157,31 5.17839777,31.042427 4.84270762,31.5292747 L2.2620621,35.271956 C1.94844071,35.7267976 1.42045963,36 0.855070627,36 C0.435085457,36 0.0857846604,35.7073938 0.0133472633,35.3215275 L0,35.146217 L0.00127855763,35.1196135 C0.24654935,31.4421183 0.832810758,28.8189138 1.76006278,27.25 Z"
                                                  fill="var(--rocket-wing-left)"></path>
                                            <circle fill="var(--rocket-window-shadow)" cx="12" cy="12"
                                                    r="3"></circle>
                                            <circle fill="var(--rocket-window)" cx="12" cy="12" r="2.5"></circle>
                                            <path d="M15.6021597,5.99977504 L8.39784027,5.99977504 C8.54788101,5.6643422 8.70496315,5.3309773 8.86908669,4.99968036 L15.1309133,4.99968036 C15.2950369,5.3309773 15.452119,5.6643422 15.6021597,5.99977504 Z"
                                                  fill-opacity="0.3" fill="var(--rocket-line)"></path>
                                        </symbol>
                                    </svg>

                                    <div class="row text-center">
                                        <div class="col-md-6 col-md-offset-3">
                                            <b class="loans-page_orange-color">YOUR REWARDS</b>
                                            <br>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <div class="col-md-4">
                                            <p class="loans-page_orange-color" style="margin-bottom: 0px;">PMINE</p>
                                            <p class="loans-page_orange-color" id="vdc1-pmine-reward">0.00000000</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="loans-page_orange-color" style="margin-bottom: 0px;">IOST</p>
                                            <p class="loans-page_orange-color" id="vdc1-iost-reward">0.00000000</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="loans-page_orange-color" style="margin-bottom: 0px;">PER</p>
                                            <p class="loans-page_orange-color" id="vdc1-per-reward">0.00000000</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <p class="loans-page_orange-color">
                                <b class="loans-page_orange-color">Total PMINE In Contract : </b> <span
                                        id="totalPmineVDC1">0.00000000</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2 class="loans-page_orange-color" style="margin-bottom: 0px;">VOLATILE</h2>
                            <p class="loans-page_orange-color">5% PMINE Daily drip pool</p>
                        </div>
                    </div>

                    <div class="row text-center vdc-alert" id="statusVDC2Msg">
                    </div>

                    <div class="uniswap-container">
                        <div class="swap">
                            <form action="" autocomplete="off">
                                <div class="containers">
                                    <div class="row text-center">
                                        <div class="col-md-4 col-sm-12">
                                            <input type="number" placeholder="0.0" id="vdc2-deposit-amount">
                                            <br>
                                            <div align="center" style="margin-top: 10px;">
                                                <a href="javascript:void(0);" class="rocket-button gold-rocket-button"
                                                   id="vdc2-deposit-btn">
                                                    <div class="default">Deposit</div>
                                                    <div class="success">
                                                        <svg>
                                                            <use xlink:href="#check">
                                                        </svg>
                                                        <div>Deposit</div>
                                                    </div>
                                                    <div class="animation">
                                                        <div class="rocket">
                                                            <svg>
                                                                <use xlink:href="#rocket"></use>
                                                            </svg>
                                                        </div>
                                                        <div class="smoke"><i></i><i></i><i></i><i></i><i></i><i></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11"
                                                            id="check">
                                                        <polyline stroke="currentColor"
                                                                  points="1 5.5 5 9.5 12 1.5"></polyline>
                                                    </symbol>
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36"
                                                            id="rocket">
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 L8.66666667,31 C4.22222222,19.0350877 5.33333333,8.70175439 12,0 Z"
                                                              fill="var(--rocket)"></path>
                                                        <path d="M12,0 C5.33333333,8.70175439 4.22222222,19.0350877 8.66666667,31 C6.72222222,17.9473684 7.83333333,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-left)"></path>
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 C17.2777778,17.9473684 16.1666667,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-right)"></path>
                                                        <path d="M22.2399372,27.25 C21.2403105,25.558628 19.4303122,23.808628 16.21,22 L15,31 L17.6512944,31 C18.2564684,31 18.8216022,31.042427 19.1572924,31.5292747 L21.7379379,35.271956 C22.0515593,35.7267976 22.5795404,36 23.1449294,36 C23.5649145,36 23.9142153,35.7073938 23.9866527,35.3215275 L24,35.146217 L23.9987214,35.1196135 C23.7534506,31.4421183 23.1671892,28.8189138 22.2399372,27.25 Z"
                                                              fill="var(--rocket-wing-right)"></path>
                                                        <path d="M1.76006278,27.25 C2.75968951,25.558628 4.56968777,23.808628 7.79,22 L9,31 L6.34870559,31 C5.74353157,31 5.17839777,31.042427 4.84270762,31.5292747 L2.2620621,35.271956 C1.94844071,35.7267976 1.42045963,36 0.855070627,36 C0.435085457,36 0.0857846604,35.7073938 0.0133472633,35.3215275 L0,35.146217 L0.00127855763,35.1196135 C0.24654935,31.4421183 0.832810758,28.8189138 1.76006278,27.25 Z"
                                                              fill="var(--rocket-wing-left)"></path>
                                                        <circle fill="var(--rocket-window-shadow)" cx="12" cy="12"
                                                                r="3"></circle>
                                                        <circle fill="var(--rocket-window)" cx="12" cy="12"
                                                                r="2.5"></circle>
                                                        <path d="M15.6021597,5.99977504 L8.39784027,5.99977504 C8.54788101,5.6643422 8.70496315,5.3309773 8.86908669,4.99968036 L15.1309133,4.99968036 C15.2950369,5.3309773 15.452119,5.6643422 15.6021597,5.99977504 Z"
                                                              fill-opacity="0.3" fill="var(--rocket-line)"></path>
                                                    </symbol>
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <img src="/images/vdc-volatile.png" style="height: 70px;"/>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <input type="number" placeholder="0.0" id="vdc2-withdraw-amount">
                                            <br>
                                            <div align="center" style="margin-top: 10px;">
                                                <a href="javascript:void(0);" class="rocket-button gold-rocket-button"
                                                   id="vdc2-withdraw-btn">
                                                    <div class="default">Withdraw</div>
                                                    <div class="success">
                                                        <svg>
                                                            <use xlink:href="#check">
                                                        </svg>
                                                        <div>Withdraw</div>
                                                    </div>
                                                    <div class="animation">
                                                        <div class="rocket">
                                                            <svg>
                                                                <use xlink:href="#rocket"></use>
                                                            </svg>
                                                        </div>
                                                        <div class="smoke"><i></i><i></i><i></i><i></i><i></i><i></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11"
                                                            id="check">
                                                        <polyline stroke="currentColor"
                                                                  points="1 5.5 5 9.5 12 1.5"></polyline>
                                                    </symbol>
                                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36"
                                                            id="rocket">
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 L8.66666667,31 C4.22222222,19.0350877 5.33333333,8.70175439 12,0 Z"
                                                              fill="var(--rocket)"></path>
                                                        <path d="M12,0 C5.33333333,8.70175439 4.22222222,19.0350877 8.66666667,31 C6.72222222,17.9473684 7.83333333,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-left)"></path>
                                                        <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 C17.2777778,17.9473684 16.1666667,7.61403509 12,0 Z"
                                                              fill="var(--rocket-shadow-right)"></path>
                                                        <path d="M22.2399372,27.25 C21.2403105,25.558628 19.4303122,23.808628 16.21,22 L15,31 L17.6512944,31 C18.2564684,31 18.8216022,31.042427 19.1572924,31.5292747 L21.7379379,35.271956 C22.0515593,35.7267976 22.5795404,36 23.1449294,36 C23.5649145,36 23.9142153,35.7073938 23.9866527,35.3215275 L24,35.146217 L23.9987214,35.1196135 C23.7534506,31.4421183 23.1671892,28.8189138 22.2399372,27.25 Z"
                                                              fill="var(--rocket-wing-right)"></path>
                                                        <path d="M1.76006278,27.25 C2.75968951,25.558628 4.56968777,23.808628 7.79,22 L9,31 L6.34870559,31 C5.74353157,31 5.17839777,31.042427 4.84270762,31.5292747 L2.2620621,35.271956 C1.94844071,35.7267976 1.42045963,36 0.855070627,36 C0.435085457,36 0.0857846604,35.7073938 0.0133472633,35.3215275 L0,35.146217 L0.00127855763,35.1196135 C0.24654935,31.4421183 0.832810758,28.8189138 1.76006278,27.25 Z"
                                                              fill="var(--rocket-wing-left)"></path>
                                                        <circle fill="var(--rocket-window-shadow)" cx="12" cy="12"
                                                                r="3"></circle>
                                                        <circle fill="var(--rocket-window)" cx="12" cy="12"
                                                                r="2.5"></circle>
                                                        <path d="M15.6021597,5.99977504 L8.39784027,5.99977504 C8.54788101,5.6643422 8.70496315,5.3309773 8.86908669,4.99968036 L15.1309133,4.99968036 C15.2950369,5.3309773 15.452119,5.6643422 15.6021597,5.99977504 Z"
                                                              fill-opacity="0.3" fill="var(--rocket-line)"></path>
                                                    </symbol>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-md-6 col-md-offset-3">
                                        <b class="loans-page_orange-color">YOUR HOLDINGS</b>
                                        <br>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-md-6 col-md-offset-3" id="pmine-holdings-1">
                                        <p class="loans-page_orange-color"><span
                                                    id="vdc2-holding-pmine">0.00000000</span> PMINE</p>
                                    </div>
                                </div>

                                <div align="center">
                                    <a href="javascript:void(0);" class="rocket-button gold-rocket-button"
                                       id="vdc2-claim-btn">
                                        <div class="default">CLAIM REWARDS</div>
                                        <div class="success">
                                            <svg>
                                                <use xlink:href="#check">
                                            </svg>
                                            <div>CLAIM REWARDS</div>
                                        </div>
                                        <div class="animation">
                                            <div class="rocket">
                                                <svg>
                                                    <use xlink:href="#rocket"></use>
                                                </svg>
                                            </div>
                                            <div class="smoke"><i></i><i></i><i></i><i></i><i></i><i></i></div>
                                        </div>
                                    </a>
                                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11" id="check">
                                            <polyline stroke="currentColor" points="1 5.5 5 9.5 12 1.5"></polyline>
                                        </symbol>
                                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36" id="rocket">
                                            <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 L8.66666667,31 C4.22222222,19.0350877 5.33333333,8.70175439 12,0 Z"
                                                  fill="var(--rocket)"></path>
                                            <path d="M12,0 C5.33333333,8.70175439 4.22222222,19.0350877 8.66666667,31 C6.72222222,17.9473684 7.83333333,7.61403509 12,0 Z"
                                                  fill="var(--rocket-shadow-left)"></path>
                                            <path d="M12,0 C18.6666667,8.70175439 19.7777778,19.0350877 15.3333333,31 C17.2777778,17.9473684 16.1666667,7.61403509 12,0 Z"
                                                  fill="var(--rocket-shadow-right)"></path>
                                            <path d="M22.2399372,27.25 C21.2403105,25.558628 19.4303122,23.808628 16.21,22 L15,31 L17.6512944,31 C18.2564684,31 18.8216022,31.042427 19.1572924,31.5292747 L21.7379379,35.271956 C22.0515593,35.7267976 22.5795404,36 23.1449294,36 C23.5649145,36 23.9142153,35.7073938 23.9866527,35.3215275 L24,35.146217 L23.9987214,35.1196135 C23.7534506,31.4421183 23.1671892,28.8189138 22.2399372,27.25 Z"
                                                  fill="var(--rocket-wing-right)"></path>
                                            <path d="M1.76006278,27.25 C2.75968951,25.558628 4.56968777,23.808628 7.79,22 L9,31 L6.34870559,31 C5.74353157,31 5.17839777,31.042427 4.84270762,31.5292747 L2.2620621,35.271956 C1.94844071,35.7267976 1.42045963,36 0.855070627,36 C0.435085457,36 0.0857846604,35.7073938 0.0133472633,35.3215275 L0,35.146217 L0.00127855763,35.1196135 C0.24654935,31.4421183 0.832810758,28.8189138 1.76006278,27.25 Z"
                                                  fill="var(--rocket-wing-left)"></path>
                                            <circle fill="var(--rocket-window-shadow)" cx="12" cy="12"
                                                    r="3"></circle>
                                            <circle fill="var(--rocket-window)" cx="12" cy="12" r="2.5"></circle>
                                            <path d="M15.6021597,5.99977504 L8.39784027,5.99977504 C8.54788101,5.6643422 8.70496315,5.3309773 8.86908669,4.99968036 L15.1309133,4.99968036 C15.2950369,5.3309773 15.452119,5.6643422 15.6021597,5.99977504 Z"
                                                  fill-opacity="0.3" fill="var(--rocket-line)"></path>
                                        </symbol>
                                    </svg>

                                    <div class="row text-center">
                                        <div class="col-md-6 col-md-offset-3">
                                            <b class="loans-page_orange-color">YOUR REWARDS</b>
                                            <br/>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <div class="col-md-4 col-md-offset-4" id="unclaimed-pmine-1">
                                            <p class="loans-page_orange-color" style="margin-bottom: 0px;">PMINE</p>
                                            <p class="loans-page_orange-color" id="vdc2-pmine-reward">0.00000000</p>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <p class="loans-page_orange-color">
                                <b class="loans-page_orange-color">Total PMINE In Contract : </b> <span
                                        id="totalPmineVDC2">0.00000000</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-auto">
                <div class="col-md-3 col-sm-12 text-center">
                    <table
                            class="table-dark richlist-table margin-auto">
                        <thead>
                        <tr>
                            <th scope="col" data-label="RANK">RANK</th>
                            <th scope="col" data-label="ADDRESS">ADDRESS</th>
                            <th scope="col" data-label="AMOUNT">AMOUNT</th>
                            <th scope="col" data-label="HOLDING">STAKED</th>
                        </tr>
                        </thead>
                        <tbody id="compound-richlist-table-body">
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-center">
                    <p class="loans-page_orange-color">
                        <span style="font-size: 2rem;font-weight: bold;">PMINE Virtual Deposit Contract fee's and information</span><br/>
                        Compound VDC fees are 11% in and 11% out, they<br/>
                        are distributed in the following way:<br/>
                        8% to drip pool<br/>
                        1% PMINE Bankroll<br/>
                        1% Dev fee<br/>
                        1% Volatile VDC<br/>
                        Receives IOST and PER divs daily from PMINE staking<br/><br/>

                        Volatile VDC fees are 33% in and 33% out, they are<br/>
                        distributed in the following way:<br/>
                        30% to drip pool<br/>
                        2% PMINE Bankroll<br/>
                        1% Dev fee<br/>
                        Does not receive IOST and PER divs daily but does<br/>
                        receive 1% of all PMINE deposited into Compound VDC<br/><br/>

                        THIS DECENTRALIZED APPLICATION HAS BEEN MADE<br/>
                        FOR ENTERTAINMENT PURPOSES AND IS A GAME, NOT<br/>
                        AN INVESTMENT PLATFORM. NO GUARANTEES OR<br/>
                        WARRANTIES ARE ISSUED TO ANY PARTICIPANTS.<br/>
                        PLEASE DO NOT PARTICIPATE IN THIS GAME IF IT IS NOT<br/>
                        LEGAL TO DO SO IN YOUR PARTICULAR LOCALITY.</p>
                </div>
                <div class="col-md-3 col-sm-12 text-center">
                    <table
                            class="table-dark richlist-table margin-auto">
                        <thead>
                        <tr>
                            <th scope="col" data-label="RANK">RANK</th>
                            <th scope="col" data-label="ADDRESS">ADDRESS</th>
                            <th scope="col" data-label="AMOUNT">AMOUNT</th>
                            <th scope="col" data-label="HOLDING">STAKED</th>
                        </tr>
                        </thead>
                        <tbody id="volatile-richlist-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
        </div>
    </main>
    <!-- TradingView Widget BEGIN -->
    <div class="loans-page-trading-view tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
                async>
            {
                "symbols"
            :
                [
                    {
                        "proName": "BINANCE:IOSTUSDT",
                        "title": "IOST/USD"
                    },
                    {
                        "proName": "BITSTAMP:BTCUSD",
                        "title": "BTC/USD"
                    },
                    {
                        "proName": "BITSTAMP:ETHUSD",
                        "title": "ETH/USD"
                    },
                    {
                        "proName": "BINANCE:TRXUSDT",
                        "title": "TRX/USD"
                    }
                ],
                    "colorTheme"
            :
                "dark",
                    "isTransparent"
            :
                true,
                    "displayMode"
            :
                "regular",
                    "locale"
            :
                "en"
            }
        </script>
    </div>
    <!-- TradingView Widget END -->
    <script src="/javascripts/charming@latest.js"></script>
    <script src="/javascripts/iost/vdc-rocket-buttons.js"></script>
    <link rel='stylesheet' href="/stylesheets/js_composer/css/v4-shims.min.css" type='text/css' media='all'/>
    <link rel='stylesheet' id='vc_font_awesome_5-css' href="/stylesheets/js_composer/css/all.min.css" type='text/css'
          media='all'/>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = {
            "apiSettings": {
                "root": "http:\/\/powermine.club\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src="/javascripts/contact-form-7/scripts.js">
    </script>
    <script type='text/javascript' src="/stylesheets/bootstrap/bootstrap.min.js">
    </script>
    <script type='text/javascript' src="/stylesheets/bootstrap/bootstrap-scripts.js">
    </script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.easing.1.3.js"></script>
    <script type='text/javascript' src="/stylesheets/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.scrollTo.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.localScroll.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.viewport.mini.js"></script>
    <script type='text/javascript' src="/javascripts/rocket/custom.js"></script>
    <script type='text/javascript' src="/javascripts/hoverIntent.min.js"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var megamenu = {
            "timeout": "300",
            "interval": "100"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src="/javascripts/maxmegamenu.js"></script>
    <script type='text/javascript' src="/javascripts/wp-embed.min.js"></script>
    <script type='text/javascript' src="/javascripts/js_composer_front.min.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.appear.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.countTo.js"></script>
    <script type='text/javascript' src="/javascripts/jquery/jquery.countToInit-counter.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/iost@0.1.22/dist/iost.min.js'></script>
    <div id="back-top" class="back-top">
        <div class="link-holder scroll-local">
            <a href="#top" id="back-to-top-btn" class="top-link"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>


    <script type='text/javascript' src="/javascripts/iost/snowstorm.js">
    </script>
    <script type='text/javascript' src="/javascripts/iost/vdc-user.js">
    </script>
</body>

</html>